* html #wrapper,
* html #footer {
	width: expression(
	(document.compatMode && document.compatMode == 'CSS1Compat') ?
	(document.documentElement.clientWidth < 925 ? "925px" :
	(document.documentElement.clientWidth > 1540 ? "1540px" : "auto")) :
	(document.body.clientWidth > 925 ? "925px" :
	(document.body.clientWidth < 1540 ? "1540px" : "auto")));
}
@font-face {
    font-family: 'NewsPaperCTTRegular';
    src: url('newspaperc-regular-webfont.eot');
    src: url('newspaperc-regular-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
* html #middle {
	margin-top:-32px;
}
* html .number {
	margin-right:2px;
	margin-top:-1px;
}
* html .min {
	margin-top:0px;
}
* html .home {
	margin-top:-2px;
}
#header img {
	float:left;
}
.traktor {
	clear:both;
}
#nav li{
	display:inline;
	zoom:1;
	margin-left:-1px;
}
* html ul#nav li{
	height:10px;
	padding:0;
	padding-top:3px;
}
ul#nav{
	display:block;
	margin-left:-2px;
}
#nav li a:hover,#nav li a.active {
	background:url('../img/navhover-ie6.png') transparent no-repeat;
}
* html .search_go {
	position: absolute;
	width: 40px;
	height: 45px;
	right: 60px;
	top: 5px;
}
.top_search {
	padding: 14px 40px 9px 15px;
}
#bread-crumbs i{
	height:14px;
}
* html #bread-crumbs i{
	height:8px;
}