.zamer form input#name, 
.zamer form input#surname, 
.zamer form input#adr {
	padding-top:10px;
	height:23px;
}
*html .header {
	margin-bottom:-13px;
}
*html .logo{
	margin-left:10px;
}
.footer p.right{
	float:right;
	text-align:right;
	margin-top:-35px;
	margin-bottom:-100px;
}