/* The Slider Container */
#slideContainer { 
	position:relative;
	margin: 25px auto; 
	width: 978px; 
	height: 385px; 
	z-index: 1;
	padding-left:1px;
}
/* The Pager */
#pager {
	position:absolute;
	left:450px;
	bottom:24px;
	text-align: center; 
	margin: -20px auto 0px; 
	z-index: 100; 
	width: 90px;
}
#pager a {
	display: block;
	text-indent: -5000px;
	width: 15px;
	height: 15px;
	background-image:url('../img/pager.png');
	background-repeat: no-repeat;
	float: left; 
}
#pager a {
	background-position: 0 0;
}
#pager a:hover {
	background-position: 0 -15px;
}
#pager a:active {
	background-position: 0 -30px;
}
#pager a.activeSlide {
	background-position:  0 -30px;
}
#pager a.activeSlide:hover {
	background-position: 0 -30px;
}
#pager a.activeSlide:active {
	background-position: 0 -30px;
}
#slider-bg-top, #slider-bg-bot {
	position:absolute;
	left:0;
	top:0;
	width:980px;
	height:14px;	
	background:transparent url('../img/slider-bg-top.png') no-repeat;
	z-index:9;
}
#slider-bg-bot {
	height:63px;	
	background:transparent url('../img/slider-bg-bot.png') no-repeat;
	top:100%;
	margin-top:-68px;	
}