/* headers */
h1, h2, h3, h4, h5, h6 {
	margin: 24px 0 0;
	padding: 12px 0;
}

h1{font-size:26px;line-height:36px; padding: 0; margin-top: 0;max-width: 70%;}
h2{font-size:20px;line-height:24px}
h3{font-size:18px;line-height:24px}
h4{font-size:16px;line-height:24px}
h5{font-size:14px;line-height:24px}
h6{font-size:14px;line-height:24px}

@media screen and (max-width:860px){
	h1{font-size:20px;line-height:36px}
	h2{font-size:18px;line-height:24px}
	h3{font-size:16px;}
	h4{font-size:14px;}
	h5{font-size:14px;}
	h6{font-size:14px;}
}
@media screen and (max-width:700px) {
	h1 {max-width: 80%;}
}
@media screen and (max-width: 550px) {
	h1 {max-width: 90%}
}
