.likely, .likely__widget { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; display: inline-block; margin: 0; padding: 0; text-indent: 0 !important; list-style: none !important; font-weight: 400; font-family: Helvetica Neue, Arial, sans-serif; font-size: inherit }
.likely { opacity: 0; font-size: 0 !important; display: block; }
.likely_visible { opacity: 1; transition: opacity .1s ease-in }
.likely>* { display: inline-block; visibility: hidden }
.likely_visible>* { visibility: inherit }
.likely__widget { display: inline-block; position: relative; white-space: nowrap }
.likely__button, .likely__counter { text-decoration: none; text-rendering: optimizeLegibility; display: inline-block; margin: 0; outline: 0 }
.likely__button { position: relative; cursor: pointer; user-select: none }
.likely__counter { display: none; position: relative; font-weight: 400 }
.likely_ready .likely__counter { display: inline-block }
.likely_ready .likely__counter_empty { display: none }
.likely__button, .likely__counter, .likely__icon, .likely__widget { vertical-align: top }
.likely__widget { transition: background .33s ease-out, color .33s ease-out, fill .33s ease-out; line-height: inherit }
.likely__widget:active, .likely__widget:focus, .likely__widget:hover { transition: none; cursor: pointer }
.likely__icon { position: relative; text-align: left; display: inline-block }
.likely svg { position: absolute }
.likely__button, .likely__counter { line-height: inherit; cursor: inherit }
.likely__button:empty { display: none }
.likely__counter { text-align: center }
.likely .likely__widget { color: #000; background: #ececec; background: hsla(0, 0%, 91%, .8) }
.likely .likely__counter { background-size: 1px 1px; background-repeat: repeat-y; background-image: linear-gradient(to right, rgba(0, 0, 0, .2)0, transparent.5px, transparent100%) }
.likely-light .likely__widget { color: #fff; fill: #fff; background: hsla(0, 0%, 93%, .16); text-shadow: rgba(0, 0, 0, .2)0 0 .33em }
.likely-light .likely__counter { background-image: linear-gradient(to right, hsla(0, 0%, 100%, .4)0, hsla(0, 0%, 100%, 0).5px, hsla(0, 0%, 100%, 0)100%) }
.likely__widget_facebook { fill: #425497 }
.likely__widget_facebook:active, .likely__widget_facebook:focus, .likely__widget_facebook:hover { background: rgba(207, 212, 229, .8) }
.likely-light .likely__widget_facebook:active, .likely-light .likely__widget_facebook:focus, .likely-light .likely__widget_facebook:hover { text-shadow: #425497 0 0 .25em; background: rgba(66, 84, 151, .7) }
.likely__widget_twitter { fill: #00b7ec }
.likely__widget_twitter:active, .likely__widget_twitter:focus, .likely__widget_twitter:hover { background: rgba(191, 237, 250, .8) }
.likely-light .likely__widget_twitter:active, .likely-light .likely__widget_twitter:focus, .likely-light .likely__widget_twitter:hover { text-shadow: #00b7ec 0 0 .25em; background: rgba(0, 183, 236, .7) }
.likely__widget_gplus { fill: #dd4241 }
.likely__widget_gplus:active, .likely__widget_gplus:focus, .likely__widget_gplus:hover { background: hsla(0, 68%, 89%, .8) }
.likely-light .likely__widget_gplus:active, .likely-light .likely__widget_gplus:focus, .likely-light .likely__widget_gplus:hover { text-shadow: #dd4241 0 0 .25em; background: rgba(221, 66, 65, .7) }
.likely__widget_vkontakte { fill: #526e8f }
.likely__widget_vkontakte:active, .likely__widget_vkontakte:focus, .likely__widget_vkontakte:hover { background: rgba(211, 218, 227, .8) }
.likely-light .likely__widget_vkontakte:active, .likely-light .likely__widget_vkontakte:focus, .likely-light .likely__widget_vkontakte:hover { text-shadow: #526e8f 0 0 .25em; background: rgba(82, 110, 143, .7) }
.likely__widget_pinterest { fill: #cFD6C6C2b }
.likely__widget_pinterest:active, .likely__widget_pinterest:focus, .likely__widget_pinterest:hover { background: rgba(242, 191, 202, .8) }
.likely-light .likely__widget_pinterest:active, .likely-light .likely__widget_pinterest:focus, .likely-light .likely__widget_pinterest:hover { text-shadow: #cFD6C6C2b 0 0 .25em; background: rgba(204, 0, 43, .7) }
.likely__widget_odnoklassniki { fill: #f6903b }
.likely__widget_odnoklassniki:active, .likely__widget_odnoklassniki:focus, .likely__widget_odnoklassniki:hover { background: hsla(27, 88%, 90%, .8) }
.likely-light .likely__widget_odnoklassniki:active, .likely-light .likely__widget_odnoklassniki:focus, .likely-light .likely__widget_odnoklassniki:hover { text-shadow: #f6903b 0 0 .25em; background: rgba(246, 144, 59, .7) }
.likely { line-height: 20px; margin: 0 -5px -12px }
.likely .likely__widget { font-size: 13px; border-radius: 3px; height: 24px; margin: 0 6px 12px }
.likely .likely__icon { width: 24px; height: 24px }
.likely .likely__button { padding: 2px 4px 1px 0 }
.likely .likely__counter { padding: 2px 4px }
.likely svg { left: 4px; top: 4px; width: 16px; height: 16px }
.likely a { border: 0; padding-left: 4px; color: inherit !important }
.likel a:hover { color: inherit !important }