.search { margin-bottom: 12px }
.search__field,
.search__find {
	height: 24px;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,.2);
	background: #fff;
}
.search__field {
	width: 140px;
}
.search__find {
	padding: 0 10px;
	margin-left: 2px;
}
