---
---

@charset "utf-8";

html, body {
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  text-rendering: optimizeSpeed !important;
}


@import "variables",
        "style",
        "anchor-links",
        "anchor-links-hovers",
        "typeplate",
        "syntax-highlighting";

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + * {
    margin-top: 10px;
}


p + ul,
p + ol,
p + .highlight,
p + blockquote {
    margin-top: -25px;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
}

.keywords {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    opacity: .1;
    padding: 5px;
    text-align: center;

    & > * {
        display: inline;
        padding: 0 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #B59A65 !important;
        font-size: 10px;
    }
}

[hidden] {
    display: none;
}

.bordered {
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.gallery {
    margin: 30px 0 40px -10px;

    img {
        vertical-align: top;
    }

    figure {
        float: left;
        margin: 0;
        padding: 0 0 10px 10px;
        box-sizing: border-box;
    }

    figcaption {
        margin: 10px 0 10px 10px;
    }
}

.gallery_half figure {
    width: 50%;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

img {
    display: block;
    margin: 0 auto;
}

.fl-left {
    float: left;
    margin-top: 10px;
    margin-right: 15px;
}

.fl-right {
    float: right;
    margin-top: 10px;
    margin-left: 15px;
}

.clear { clear: both; }

@media all and (max-width: 840px) {
    .gallery figure {
        float: none;
        width: auto !important;
    }
}

@media all and (max-width: 480px) {
    .fl-left,
    .fl-right {
        float: none;
        margin: 0 auto;
    }
}

.notop { margin-top: 0; }
