---
---

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 6.4em 0 1.6em 0;
	font-size: 1em;
	font-weight: bold;
}

p,
img,
iframe,
figure,
.highlight,
details { margin: 0 0 1.6em 0 }


h2,
h3 { margin: 2.4em 0 .8em; }

/* media */
img,
iframe {
	border: 1px solid #ccc;
	background: #fff;
	margin: -1px auto;
}

img { height: auto !important; }

/* links */
a {
	-webkit-transition: color .15s;
	transition: color .15s;
}

a:hover,
a:focus,
a:active {
	color: #000
}

/* for email and skype */
.dotted {
	border-bottom-style: dotted
}

/* lists */
ul,
ol {
	margin: 0 0 1.6em 0;
	padding: 0;
}

ul { margin: 0 0 1.6em 1em }

ul li { margin: 0 }

ol li {
	list-style: decimal;
	margin: 0;
	list-style-position: inside;
}

ul.l { margin-left: 0 }

ul.l li {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

/* blockquotes */
blockquote {
	margin: 2.4em 1.6em;
	font-style: italic;
}
blockquote:before {
	content: "“";
	position: absolute;
	margin-left: -0.6em;
	font-size: 3em;
	line-height: .8;
	padding: 0;
}


/* media queries */
@media (max-width: 40em) {
	.container {
		width: 72%;
		margin: 15%
	}
	h1 { margin-top: 15% }
}

@media (max-width: 30em) {
	.container {
		width: 80%;
		margin: 10% 10%;
	}
	body {
		font-size: 14px;
		line-height: 1.71;
	}
	h1 { margin-top: 10% }
}

figure img { margin: 0 }
figcaption { display: none }
.keywords { display: none }

/* code box */
pre,
code {
	white-space: pre-wrap;
	font-size: 14px;
	line-height: 1.71;
}

pre {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	padding: 1.6em 0;
}
