/* ymatuhin / ymatuhin.ru */
.hidden,
[hidden],
.js .no-script {
  display: none !important;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.ir {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
.browsehappy,
.no-script {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
button,
input,
select,
textarea {
  color: textClr;
}
img {
  vertical-align: middle;
}
html {
  font-size: 1em;
  line-height: 1.4;
  font-family: Arial, Tahoma, Verdana, sans-serif;
  background: #efefef;
  color: #000;
}
body {
  width: 980px;
  margin: 0 auto;
  background: #f00;
  z-index: 2;
}
