/* Versted by fl1p ( website - fl1p.x10.mx )*/

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 12px/18px Tahoma, Verdana, sans-serif;
	width: 100%;
	background:#fff;
}
a {
	color:#000;
	outline: none;
	text-decoration: underline;
}
a:hover {
	color:#67a308;
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 985px;
	margin: 0 auto;
	padding:7px 6px 7px 9px;
}
.clear {clear:both;}

/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 77px;
	margin-bottom:8px;
	background:#a6ca50 url(../img/header.png) 0 0 no-repeat;
}
h1.logo {
	float:left;
	width:116px;
	height:19px;
	background:url(../img/logo.png) 0 0 no-repeat;
	display:inline-block;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	margin:12px 0 0 18px;
}

.nav {
	float:left;
	margin:14px 0 0 21px;
}
.nav li{
	float:left;
	font-size:13px;
	margin-left:24px;
}
.nav li a{color:#fff;}

.line2 {
	float:left;
	color:#fff;
	width:375px;
	margin:22px 0 0 100px;
	font-size:11px;
}
.line2 ul{
	float:right;
}
.line2 p{
	float:left;
}
.line2 ul li{
	float:left;
	margin-left:3px;
}

.line2 ul li a{color:#fff;text-decoration:none;}

div.book {
	margin-left:45px;
	width:365px;
	
}
/* reklama
-----------------------------------------------------------------------------*/
.reklama {
	height: 165px;
	border:1px solid #adadad;
	margin-bottom:10px;
	padding-top:13px;
	padding-left:10px;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 6px 210px 0 214px;
}
.centerbook {
	background:#f7f7f9;
	padding-bottom:45px;
}
.centerbook li{
	padding:0 3.5px;
	height:24px;
	padding-bottom:9px;
	font-size:12px;
}
.centerbook li a{
	padding:8px 0 0;
	line-height:14px;
	margin-bottom:7px;
}

.centerbook li:first-child{
	background:#fff;	
	padding:0px 2px 4px;
	height:20px;
}
.centerbook span {
	padding:6px 0 0;
	display:block;
	width:68px;
	float:right;
}

.centerbook li:first-child span{
	width:70px;
	padding:0;
}
.centerbook a {
	display:block;
	width:450px;
	float:left;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 200px;
	margin-left: -100%;
	position: relative;
	margin-bottom:10px;
}
.textbook, .baza, .partners {
	background:#f7f7f9;
}
.title{
	position:relative;
	margin-top:24px;
	top:-24px;
	display:block;
	height:48px;
	background:url(../img/sidebar-title.png) 0 0 no-repeat;
	line-height:31px;
	text-align:left;
	padding-left:31px;
	font-size:13px;
	color:#fff;
	margin-bottom:-31px;
}
ul.insidebar{
	margin-left:14px;
	font-size:12px;
	padding-bottom:7px;
}
.insidebar li{
	font-size:12px;
	margin:0 0 4px 0;
}
.baza {
	position:relative;
	top:10px;
	padding-bottom:5px;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 200px;
	margin-left: -198px;
	position: relative;
	margin-bottom:10px;
}
.partners {
	padding-bottom:3px;
}
.partners .title{
	background:url(../img/sidebar-title-right.png) 0 0 no-repeat;
}
.partners img{
	padding-left:4px;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 52px;
	background: #f7f7f9;
	margin-top:12px;
}
.copy {
	float:left;
	padding:11px 0 0 30px;
	color:#898989;
	width:150px;
	line-height:16px;
}

.active a{text-decoration:none;}

#footer .nav {
	float:right;
	margin:15px 36px 0 0 ;
}
#footer .nav li{
	float:left;
	font-size:10px;
	margin-left:18px;
}
#footer .nav li a{color:#b5b5b5;}