@import url("common.css");
.line-begin, .line-end {
	height:32px;
	width:3px;
}
.line-begin {
	background:url('../img/inside-minitoring-gorizontal-line-begin.png') no-repeat;
	float:left;
	margin-left:-3px;
}
.line-end  {
	background:url('../img/inside-minitoring-gorizontal-line-end.png') no-repeat right;
	float:right;	
	margin-right:-3px;
}
.line {
	background:url('../img/inside-minitoring-gorizontal-line.png') repeat-x;
	height:32px;
	width:99%;
	margin-left:3px;
	clear:both;
}
.line img{ 
	margin:5px 0 0 8px;	
	float:left;
}
.line a {
	display:block;
	float:left;
	font-family: Tahoma;
	font-size:18px;
	color:#464646;
	margin:6px 0 0 9px;
	
}
.tovar {
	height:165px;
	width:48%;
	border-bottom:1px solid #4e4e4e;
	float:left;
	margin:10px 3% 10px 0;
	position:relative;
}
.tovar .tovar-img {
	width:113px;
	height:113px;
	background:#fff;
	border:1px solid #f0f0f0;
	float:left;
	margin-right:7px;
}
.tovar a.zagolovok {
	font-family:Arial;
	font-size:16px;
}
.tovar .podrobnee {
	display:block;
	list-style-image:none;
	font-family:arial;
	font-size:11px;
}
.tovar .podrobnee a{
	padding-right:9px;
	background:url('../img/arrow-podrobnee.png') no-repeat right;
}
.tovar ul {
	padding-left:135px;
}
.tovar ul li {
	list-style-image:url('../img/list-item-style.png');
	padding-left:0px;
	font-family:arial;
	font-size:11px;
	line-height:16px;
}
.last {
	margin-right:0;
}
a.container-zayavka {
	background:url('../img/inside-monitoring-button.png') no-repeat;
	display:block;
	position:relative;
	margin:122px 0 0px -125px;	
	padding:4px 0 0 0px;
	width:121px;
	height:33px;
	padding:4px 0 0 ;
	float:left;
	text-decoration:none;
	text-align:center;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	color:#fff !important;
	z-index:8;
}

#forma {
	position:absolute;
	left:5px;
	top:29px;
	width:410px;
	height:307px;
	z-index:9;
	background:#1485ad;
	border:1px solid #fff;
	display:none;
	-webkit-box-shadow: 0px 0px 1px 1px #999;
	-moz-box-shadow: 0px 0px 1px 1px #999;
	box-shadow: 0px 0px 1px 1px #999;
}
.inputArea form label {
	float:left;
	display:block;
	color:#fff;
	text-align:right;
	width:71px;
	padding:2px 9px 0 0;
	margin:15px 0 0;
	font: 12px Tahoma;
	font-weight:bold;
	
}
.inputArea form input, .inputArea form textarea {
	clear:left;
	border:1px solid #f08f02;
	margin:15px 0 0;
}
.text1, .text4 {
	width:310px;
}
.text5 {
	width:58px;
	height:24px;
}
.code {
	margin-bottom:-17px;
}
.rekvizit {
	margin-left:80px;
	width:310px;
	color:#fff;
	border-bottom:1px dotted #fff;
	font: 11px Tahoma;
}
.rekvizit span {
	float:right;
}
.attach-file {	
	font: 12px Tahoma;
	margin-left:80px;
	margin-top:-15px;
	width:310px;
	color:#fff;
	clear:both;
}
.attach-file span {
	border-bottom:1px dashed #fff;
}
.inputArea form input.send {
	border:0;
	padding:0;
	background:url('../img/button-send.png') no-repeat;
	width:91px;
	height:20px;
	margin-left:50px;
	color:#fff;
	cursor:pointer;	
}
