html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
/* end clear
-----------------------------------------------------------------------------*/
body {
	background:url(../img/background.jpg) #fff no-repeat top;
	color:#555555;
	height:100%;
}
html, body {
  height: 100%;
}
a {
    color: #3f7e9d; /* ÷вет ссылок */
}
a:visited {
	color: #3f7e9d; /* ÷вет посещенных ссылок */
}
a:active {
    color: #3f7e9d; /* ÷вет активных ссылок */
}
@font-face {
    font-family: 'NewsPaperCTTRegular';
    src: url('newspaperc-regular-webfont.woff') format('woff'),
         url('newspaperc-regular-webfont.ttf') format('truetype'),
         url('newspaperc-regular-webfont.svg#NewsPaperCTTRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* Wrapper
-----------------------------------------------------------------------------*/

#wrapper {
	min-width: 925px;
	max-width: 1600px;
	padding:0 20px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	margin-top:20px;
	height: 355px;
}
#header img {
	margin:0 0 0 6px;
}
.telephone {
	float:right;
	width:200px;
	height:65px;
	margin-right:-5px;
}
.traktor{
	width:642px;
	height:260px;
	background:url(../img/traktor.png) transparent no-repeat;
	margin:23px 0 0 -71px;
}
.min {
	height:15px;
	margin:-1px 0 27px 48px;
	display:inline-block;
	float:right;
}
.home {
	width:15px;
	background:url('../img/home.png') transparent no-repeat center;
	margin:-3px 0 0 -3px;
}
.sitemap {
	width:17px;
	background:url('../img/sitemap.png') transparent no-repeat center;
	margin-right:11px;
}
.contact {
	width:15px;
	background:url('../img/contact.png') transparent no-repeat center;
}
.number {
	clear:both;
	float:right;
	font-family: 'NewsPaperCTTRegular';
	font-size:24px;
	color:#fff;
	background:url('../img/tel.png') transparent no-repeat left top;
	padding-left:29px;
	margin:0 4px 0 0px;
	width:151px;
	height:25px;
	text-shadow: 1px 1px 3px #000000;
}
.number span {
	color:#a2d8f4;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	height: 1%;
	padding:0 0 105px 0;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: visible;
}
#content {
	padding: 0 0 0 360px;
	position:relative;
}
#bread-crumbs  a{
	font-family: Tahoma;
	font-size:12px;
	color:#a98453;
	text-decoration:none;
}
#bread-crumbs i{
	display:inline-block;
	width:4px;
	height:8px;
	padding:0 6px;
	background:url('../img/right-arrow.png') no-repeat 50% 50%;
}
#content h1 {
	font-weight: normal;
	font-family: Tahoma;
	font-size:24px;
	color:#000;
	padding-top:3px;
	margin-bottom:18px;
}
ul#nav{
	font-family: 'NewsPaperCTTRegular';
	font-size:16px;
	text-transform:uppercase;
	padding:0;	
	width: 100%;
	height:47px;
	border:1px solid #fff;	
	background:transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 18px -2px;
}
#nav li{
	float:left;
	padding:3px 0px 0 0px;
	width: 25%;
	text-align: center;/*дл€ красоты*/
	background:url('../img/menuborderdot.png') transparent no-repeat left 16px;
}
#nav .first {
	background:transparent;
}
#nav li a {
	padding-top:12px;
	color:#37738b;
	display:inline-block;
	width:148px;
	height:30px;	
	
	
}
#nav li a:hover,#nav li a.active {
	background:url('../img/navhover.png') transparent no-repeat;
	color:#fff;
	text-decoration:none;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 330px;
	margin-left: -100%;
	position: relative;
}
.top-search {
	margin: 0 0 25px 0;
	position: relative;
	width: 330px;
	padding:0;
}
.top_search {
	background: url('../img/search_bg.png') left top no-repeat;
	width: 330px;
	height: 34px;
	padding: 6px 40px 9px 15px;
	border: none;
	color: #377189;
	font: normal 16px Tahoma, Geneva, sans-serif;
}
.search_go {
	position: absolute;
	width: 40px;
	height: 45px;
	right: 0;
	top: 5px;
}

ul.menu, ul.menu ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  width:330px;
}
ul.menu ul {
	margin-top:-24px;
}
ul.menu a {
  display: block;
  text-decoration: none;	
}

ul.menu li.one{
	margin-top:-7px;
}
ul.menu li ul li a.first, ul.menu ul.menu li ul li a.first {
  background: url('../img/akord-podmenu-back-first.png') no-repeat;
  height:72px;
}
ul.menu li ul li a.first:hover, ul.menu ul.menu li ul li a.first:hover {
  background: url('../img/akord-podmenu-back-first-active.png') no-repeat;
}
ul.menu li a, ul.menu ul.menu li a {
  background: url('../img/akordmenu.png') no-repeat;
  color: #fff;	
  height:99px;
}

ul.menu li ul li a, ul.menu ul.menu li ul li a {
  background: url('../img/akord-podmenu-back.png') no-repeat;
  color: #000;
  height:50px;
}
ul.menu li ul li a.last, ul.menu ul.menu li ul li a.last {
  background: url('../img/akord-podmenu-back-last.png') no-repeat;
  color: #000;
  height:55px;
  
}
ul.menu li ul li a:hover, ul.menu ul.menu li ul li a:hover {
  background: url('../img/akord-podmenu-back-active.png') no-repeat;
}
ul.menu li ul li a.last:hover, ul.menu ul.menu li ul li a.last:hover {
  background: url('../img/akord-podmenu-back-last-active.png') no-repeat;
}
ul.menu ul.menu li a:hover {
    border-left: 0;
    padding-left: 5px;
}
ul.menu ul.menu {
    border-left: 5px #f00 solid;
}
ul.menu a.active, ul.menu ul.menu li a.active, ul.menu a.active:hover, ul.menu ul.menu li a.active:hover {
    text-decoration: underline;
    background: url('../img/akord-active.png') no-repeat;
	height:109px;
	position:relative;
}
ul.menu a  img, ul.menu ul.menu li a img{
	margin:6px 15px;
}
ul.menu li ul li a.first img, ul.menu ul.menu li ul li a.first img{
 margin:30px 0 0 90px;
}
ul.menu li ul li a img, ul.menu ul.menu li ul li a img{
 margin:8px 0 0 90px;
}
/* Footer
-----------------------------------------------------------------------------*/
#line{
	width:100%;
	height:5px;
	background:url('../img/footer-top.png') repeat-x transparent top left;
}
#footer {
	margin:-105px 0px 0;
	height: 105px;
	background:url('../img/footer-bg.jpg') transparent top left;
	position: relative;
}
#footer  .left{
	float:left;
	margin-top:30px;
	padding:0 0 0 27px;
}
#footer  .middle{
	font-family:Arial;
	position:absolute;
	width:200px;
	height:50px;
	left:50%;
	margin-left:-100px;
	background:url('../img/telephone.png') no-repeat;	
	padding-left:40px;
	padding-top:2px;
	margin-top:30px;	
}
#footer  .middle{
	font-size:16px;
	color:#393939;
}
#footer  .middle span{
	color:#8a8a8a;
}
#footer  .middle p{
	font-size:12px;
	font-style:italic;
	color:#898a8c;
}
#footer  .right{
	float:right;
	margin-top:30px;
	padding:0 33px 0 0;
}
#footer  .right img {
	margin-left:5px;
}