@import url("common-ie.css");
#inputArea form input,  #inputArea form textarea  {
	clear:none;
}
#text5 {
	height:28px;
	position:absolute;
	top:250px;
}
#code {
	position:absolute;
	top:268px;
	left:150px;
	margin-bottom:0px;
}
.send {
	position:absolute;
	top:255px;
	left:250px;
}
.tovar {
	margin-left:-2px;
}

*html #example-one .nav { overflow: hidden; margin-top: -45px;position:absolute;left:50%;margin-left:-470px;width:620px;}
a {
	border-bottom:0 !important;
}
a.button:hover {
	color:#fff !important;
}