pre {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: .5em 1em;
	background: #3a4d55;
	background: #1f2a2f;
	border-radius: 3px;

	.container & {
		max-width: 100%;
	}
}


code,
pre {
	overflow: auto;
	font-family: $mono;
}

code {
	background: #3a4d55;
	background: #1f2a2f;
	border-radius: 3px;
	padding: 1px 5px;
}

pre code {
	padding: 0;
	border: 0;
}

.highlighter-rouge.highlighter-rouge,
[role="main"] pre {
	max-width: 100%;
}
