pre {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: .5em 1em;
	background: #fff;
	border-radius: 3px;
	border: 1px solid $gray-border;
}

code,
pre {
	overflow: auto;
	font-family: Fira Code, Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

code {
	background: #fff;
	border-radius: 3px;
	padding: 1px 5px;
	border: 1px solid $gray-border;
}

pre code {
	padding: 0;
	border: 0;
}

.highlighter-rouge.highlighter-rouge,
[role="main"] pre {
	max-width: 100%;
}
