@import 'variables';

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: 800;
	position: relative;
	font-weight: 800;
	font-family: $sans;
	max-width: $headers-max-width;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
}

h2 {
	font-size: 1.25rem;
	line-height: 1.5rem;
}
h3 {
	font-size: 1rem;
	line-height: 1.5rem;
}


* + h2,
* + h3 {
  margin-top: 1.75rem; /* 1.5 baselines */
}

h1 + *,
h2 + *,
h3 + * {
  margin-top: .25rem; /* 0.5 baselines */
}
