/* висячая пунктуация */
.l_elka,
.l_skobka {
	-webkit-transition: margin-left .2s;
	transition: margin-left .2s;
}

.elka,
.skobka {
	-webkit-transition: margin-right .2s;
	transition: margin-right .2s;
}

.l_elka {
	margin-left: -.65em;
}

.elka {
	margin-right: .65em;
}

.l_skobka {
	margin-left: -.3em;
}

.skobka {
	margin-right: .3em;
}

code,
ol,
pre,
ul {
	.elka,
	.skobka {
		font-size: 0;
	}

	.l_elka,
	.l_skobka {
		margin: 0;
	}
}
