@import 'variables';

ol,
ul {
	padding: 0 0 0 4ch;
	margin: 0;

	* + blockquote,
	* + div.highlighter-rouge,
	* + pre {
		margin-top: .25rem;
		/* 0.25 baselines  */
		&:last-child {
			margin-bottom: .75rem;
		}
	}
}

* + ol,
* + ul,
ol + *,
ul + * {
	margin-top: .75rem;
}

li + li {
	margin-top: .25rem;
	/* 0.25 baseline */
}

.f {
	list-style-type: none;
	padding: 0;
}
