@import 'variables';

ul, ol {
	padding: 0 0 0 1.5rem;
	margin: 0 0 0 0;
	max-width: $text-max-width;

	* + blockquote,
	* + div.highlighter-rouge,
	* + pre {
	  margin-top: 0.25rem; /* 0.25 baselines  */

	  &:last-child {
		  margin-bottom: .75rem;
	  }
	}
}

* + ul,
* + ol,
ul + *,
ol + * {
	margin-top: .75rem;
}

li + li {
	margin-top: .25rem; /* 0.25 baseline */
}
