img {
	vertical-align: middle;
	max-width: 100%;
}

amp-img {
	border: 1px solid #1f2a2f;
	&.noborder { border: 0; }
}

.media-table {
	.container & {
		max-width: 100%;
	}

	td, th {
		border: 0;
		padding: 0;
	}
}

figure {
	display: block;
	margin: 0;

	iframe,
	img {
		display: block;
		margin: 0;
	}
	figcaption {
		color: #49656f;
		text-align: right;
		margin-top: .25rem;
		font-size: 16px;
		line-height: 1;

		&::before {
			content: '/*';
			padding-right: 1ch;
		}

		&::after {
			content: '*/';
			padding-left: 1ch;
		}
	}
	span {
		display: none;
	}
}

* + figure,
figure + * {
	margin-top: .75rem;
	/* 0.75 baselines  */
}

.pixel-art {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
