img {
	vertical-align: middle;
	max-width: 100%;
	background: #fff;
}

amp-img {
	border: 1px solid rgba(0, 0, 0, .1);
	&.noborder { border: 0; }
}

.media-table {
	td, th {
		border: 0;
		padding: 0;
	}
}

figure {
	display: block;
	margin: 0;

	iframe,
	img {
		display: block;
		margin: 0;
	}
	figcaption {
		color: rgba(0, 0, 0, .5);
		text-align: right;

		font-size: (15rem/28);
		line-height: 1rem;
		font-family: 'PT Sans', "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
	span {
		display: none;
	}
}

* + figure,
figure + * {
	margin-top: .75rem;
	/* 0.75 baselines  */
}

.pixel-art {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: -webkit-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: pixelated;
}
