.special {
	border: 5px solid #FC7D49;
	margin: 1rem 0;
	padding: 1rem;
	font-size: .75rem;
	font-weight: 500;
	background: transparent;
	color: inherit;

	&:before {
		content: '';
	}

	ol, ul { margin: 0 }
}
