<link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
<link rel="schema.DCTERMS" href="http://purl.org/dc/terms/">

<meta name="DC.Identifier" content="{{page_url}}">
<meta name="DC.Identifier" schema="DCterms:URI"
content="{{page_url}}">
<meta name="DC.Format" schema="DCterms:IMT" content="text/html">
<meta name="DC.Type" content="text/html">
<meta name="DC.Title" xml:lang="RU" content="{{ page_title }}">
<meta name="DC.Creator" content="{{ site.title | strip_html }}">
<meta name="DC.Publisher" content="{{ site.title | strip_html }}">
<meta name="DC.Contributor" content="{{ site.title | strip_html }}">
<meta name="DC.Publisher.Address" content="ymatuhin@yandex.ru">
<meta name="DC.Language" scheme="dcterms:RFC1766" content="RU">

{% if page_date %}
	<meta name="DC.Date" scheme="ISO8601" content="{{ page_date }}">
{% endif %}

<meta name="DC.Description" xml:lang="RU" content="{{ page_description }}">
