<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% include head/variables.html %}

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}">

	<!-- Inlined styles -->
	<style>
		{% capture include_to_scssify %}{% include critical.scss %}{% endcapture %}
		{{ include_to_scssify | scssify }}

		{% if page.categories %}
			{% include ratio.css %}
		{% endif %}
	</style>

	<!-- Special index page styles -->
	{% if page.url == '/index.html' or page.url == '/' %}
		<style>
			{% capture include_to_scssify %}{% include critical_index.scss %}{% endcapture %}
			{{ include_to_scssify | scssify }}
		</style>
	{% endif %}

	{% include head/meta_lang.html %}
	{% include head/meta_rss.html %}
	{% include head/meta_twitter.html %}
	{% include head/meta_open_graph.html %}
	{% include head/meta_icon.html %}

	{% if page.categories %}
		<!-- <link rel="stylesheet" href="/assets/css/ratio.css" media="none" onload="media='all'"> -->
	{% endif %}

	<meta name="google-site-verification" content="HxrscLt9ojX9QB8Aotk9kn7os4j0SDGulJ7U4z4aYwQ">
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
