<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% include head/variables.html %}

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}">
	<link rel=”author” href=”https://plus.google.com/104557932122476785260/>

	<style>{% include inline.min.css %}</style>

	{% include head/meta_rss.html %}
	{% include head/meta_twitter.html %}
	{% include head/meta_open_graph.html %}
	{% include head/meta_icon.html %}

	<link rel="dns-prefetch" href="https://mc.yandex.ru">
	<link rel="dns-prefetch" href="http://mc.yandex.ru">
	<link rel="prefetch" href="/css/syntax.css">

	<meta name="google-site-verification" content="HxrscLt9ojX9QB8Aotk9kn7os4j0SDGulJ7U4z4aYwQ">
</head>
