{% if page.image %}
	<meta name="twitter:card" content="summary_large_image">
{% else %}
	<meta name="twitter:card" content="summary">
{% endif %}

<meta name="twitter:site" content="@ymatuhin">
<meta name="twitter:creator" content="@ymatuhin">
<meta name="twitter:title" content="{{ page_title }}">
<meta name="twitter:description" content="{{ page_description }}">

{% if page.image %}
	<meta name="twitter:image" content="{{ site.url }}/assets/img/{{ page.image }}">
	<link rel="image_src" href="{{ site.url }}/assets/img/{{ page.image }}" />
{% endif %}
