<!-- Title -->
{% capture page_title %}{% if page.title %}{{ page.title | replace: ' ', ' ' | strip_html | strip_newlines }} / {{ site.title | replace: ' ', ' ' }}{% else %}{{ site.title | replace: ' ', ' ' }}{% endif %}{% endcapture %}

<!-- Description -->
{% capture page_description %}{% if page.description %}{{ page.description | replace: ' ', ' ' | strip_html }}{% else %}{{ page.excerpt | strip_html | replace: ' ', ' ' | strip_newlines | truncate: 160 }}{% endif %}{% endcapture %}
{% capture page_keywords %}{% if page.tags %}{% for tag in page.tags %} {{ tag }}{% endfor %}{% else %}{% for tag in post.tags %} {{ tag }}{% endfor %}{% endif %}{% endcapture %}

<!-- Url -->
{% capture page_url %}{{ page.url | replace:'index.html','' | replace: 'page2/', '' | replace: 'page3/', '' | replace: 'page4/', '' | replace: 'page5/', '' | prepend: site.url }}{% endcapture %}

<!-- Date -->
{% capture page_date %}{% if page.date %}{{ page.date | date: "%Y-%m-%d"}}{% else %}{{ post.date | date: "%Y-%m-%d" }}{% endif %}{% endcapture %}
