---
layout: default
is_page: true
---

<div role="main" class="content">
	<div class="no-ads" style="display:none">
		Вижу вы пользуетесь блокировщиком рекламы, хм, я тоже так делаю. <br>
		Буду признателен, если вы отключите его на этом сайте. <br>
		Тогда гугл оплатит мне хостинг, а может и на ☕️&nbsp; кофе останется.
	</div>

	<h1>{{ page.title }}</h1>

	{% if page.is_post %}
		{% include pubdate.html %}
	{% endif %}

	{% include menu.html %}

	<div class="text-content">
		{{ content }}
	</div>

	{% if page.is_post %}
		{% include comments.html %}
	{% endif %}

	{% include footer.html %}
</div>
