---
layout: default
is_page: true
---

<div role="main" class="content">
	<h1>{{ page.title }}</h1>

	{% if page.is_post %}
		{% include pubdate.html %}
	{% endif %}

	{% include menu.html %}

	<div class="text-content">
		{{ content }}
	</div>

	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>(adsbygoogle = window.adsbygoogle || []).push({})</script>
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-6430039911615607"
		 data-ad-slot="4852376176"
		 data-ad-format="auto"></ins>

	{% if page.is_post %}
		{% include comments.html %}
	{% endif %}

	{% include footer.html %}
</div>
