<h5>Комментарии</h5>

<div id="disqus_thread"></div>
<noscript>Пожалуйста влючите JavaScript чтобы увидеть &lt;a href="https://disqus.com/?ref_noscript" rel="nofollow"&gt;комментарии.&lt;/a&gt;</noscript>
<script>
	var disqus = document.getElementById("disqus_thread");

	window.onscroll = function(e) {
		var scrollSize = window.innerHeight + window.scrollY;
		if (scrollSize >= disqus.offsetTop - (window.innerHeight / 3)) {
			importScript("http://ymatuhin.disqus.com/embed.js");
		}
	}
</script>
