<script async defer src="/js/typo.js"></script>
<script async defer src="/js/hints.js"></script>

<script>
	var scriptsSrcs = '';
	function importScript (sSrc, fOnload) {
		if (scriptsSrcs.indexOf(sSrc) >= 0) {return;}
		scriptsSrcs += sSrc;

		var oScript = document.createElement("script");
		oScript.type = "text\/javascript";
		oScript.async = true;
		if (fOnload) { oScript.onload = fOnload; }
		document.getElementsByTagName("head")[0].appendChild(oScript);
		oScript.src = sSrc;
	}

	if (document.querySelector('.highlight')) {
		document.write('<link rel=\"stylesheet\" href=\"\/css\/syntax.css\">');
	}

	importScript('//www.google-analytics.com/analytics.js', function () {
		ga('create', 'UA-20899801-7', 'auto');
	    ga('send', 'pageview');
	});
</script>
<noscript><link rel="stylesheet" href="/css/syntax.css"></noscript>
