<br>
<br>
<div class="likely small" data-title="{{ page.title }}" data-via="ymatuhin">
    <a rel="nofollow" href="http://eepurl.com/bkY7hb" class="likely__widget"><span class="likely__button">Подписаться на блог</span></a>
    <a rel="nofollow" href="http://feeds.feedburner.com/ymatuhin/SHDd" class="likely__widget"><span class="likely__button">РСС</span></a>
    <div class="twitter">Твитнуть</div>
    <div class="facebook">Поделиться</div>
    <div class="gplus">Плюсануть</div>
    <div class="vkontakte">Поделиться</div>
</div>
