---
layout: blocks
redirect_from:
  - /consultation/
  - /archive/
---

<div class="cards">
    {% for post in paginator.posts %}
        {% include card.html
            tag="h2"
            categories=post.categories
            image=post.image.path
            link=post.url
            title=post.title
            description=post.description %}
    {% endfor %}
</div>


<div class="more-box">
    {% if paginator.previous_page %}
        <a class="round-btn" href="{{ paginator.previous_page_path }}">Предыдущая страница</a>
    {% endif %}
    {% if paginator.previous_page and paginator.next_page %}
        &nbsp;
        &nbsp;
    {% endif %}
    {% if paginator.next_page %}
        <a class="round-btn" href="{{ paginator.next_page_path }}">Следующая страница</a>
    {% endif %}
</div>
