---
layout: default
title: Юрий Матюхин
is_index: true
tags: front end developer разработчик фронтенд статьи заметки разработка интерфейсов html css javascript фреймворки программист
description: >
  Статьи и заметки о архитектуре веб приложений, разработке интерфейсов, верстке, HTML, CSS, JavaScript, фреймворках и трендах front end разработки.
---

{% include menu.html %}

<h1>Юрий Матюхин</h1>

<div class="wrap-medium wrap-center clearfix">
	<div class="hello ta-l">
		<img src="/assets/img/yury_matuhin_square.jpg" onload="style.opacity=1" style="opacity: 1;">
		<p>
			Привет. Я форнтенд разработчик.
			Пилю «Социальный дуршлаг» (в бете), «<a href="//autoprefixer.github.io">Автопрефиксер онлайн</a>» для себя и «<a href="//ridewithlocal.com">Ride With Local</a>» по работе.
			<br>
			Веду блог, читаю <a href="//twitter.com/@ymatuhin">твиттер</a> и почту <a href="mailto:ym@ymatuhin.ru">ym@ymatuhin.ru</a>
		</p>
	</div>

	<div class="column-50 fl-l ta-l">
		<h2>Фронтенд</h2>
		<ul class="posts">
		{% for post in site.categories.front-end limit: 6 %}
			<li>
				<a href="{{ post.url }}">{{ post.title | strip_html }}</a>
				<small>{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }}&nbsp;{% include month.html %}&nbsp;{{ post.date  | date: "%-Y" }}</small>
		{% endfor %}
		</ul>
	</div>
	<div class="column-50 fl-r ta-l">
		<h2>Жизнь</h2>
		<ul class="posts">
		{% for post in site.categories.blog limit: 6 %}
			<li>
				<a href="{{ post.url }}">{{ post.title }}</a>
				<small>{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }}&nbsp;{% include month.html %}&nbsp;{{ post.date  | date: "%-Y" }}</small>
		{% endfor %}
		</ul>
	</div>
</div>

{% include footer.html %}
