*{box-sizing:border-box;padding:0;margin:0}
img {border: 0;}
svg:not(:root) { overflow: hidden; }
body{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;text-size-adjust:100%}
table{border-collapse:collapse;border-spacing:0}

/* headers */
h1{font-size:26px;line-height:30px}
h2{font-size:20px;line-height:30px}
h3{font-size:18px;line-height:20px}
@media screen and (max-width:860px){
	h1{font-size:20px;line-height:25px}
	h2{font-size:18px;line-height:20px}
	h3{font-size:16px;line-height:20px}
}

/* links */
a,a:visited{color:#0072ba;text-decoration:none;border-bottom:1px solid rgba(0,114,186,.5)}
a:hover,a:visited:hover{color:#d04000;border-color:rgba(208,64,0,.5);-webkit-transition:0s ease;transition:0s ease}

a.dark,a:visited.dark{color:#000;border-bottom:1px solid rgba(0,0,0,.5)}
a.dark:hover,a:visited.dark:hover{color:#d04000;border-color:rgba(208,64,0,.5);-webkit-transition:0s ease;transition:0s ease}
/*a.lite,a:visited.lite{color:#fff;border-bottom:1px solid hsla(0,0%,100%,.5)}
a.lite:hover,a:visited.lite:hover{color:#f2f201;border-color:rgba(242,242,1,.5);-webkit-transition:0s ease;transition:0s ease}*/
body{
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	padding:60px 0 60px 40px
}
@media screen and (max-width:700px){
	body{padding:30px 20px 40px 25px}
}

/* header block */
header{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
@media screen and (max-width:700px){
	header{display:block}
}
header img{width:75pt;min-width:75pt;height:75pt;border-radius:50%;margin:0 30px 0 0}
@media screen and (max-width:990px){
	header img{width:5pc;min-width:5pc;height:5pc;margin:7px 30px 0 0}
}
@media screen and (max-width:700px){
	header img{margin:0 0 10px}
}
header .text{padding:4px 70px 0 0}
@media screen and (max-width:700px){
	header .text{padding:4px 0 0}
}
header .text>p{padding:4px 0 0;font-size:20px;line-height:30px;max-width:700px}
@media screen and (max-width:860px){
	header .text>p{font-size:17px;line-height:25px}
}

/* menu */
.menu{background:#ecf2f8;padding:8px 13px 7px;border-radius:4px;margin:25px 0 0 117px;font-size:0;line-height:14px}
.menu,.menu li{display:inline-block}
.menu li{font-size:14px;line-height:20px}
.menu li:after{content:'•';font-size:14px;line-height:2px;vertical-align:middle;padding:0 10px}
.menu li:last-child:after{padding:0;content:'';font-size:0}
@media screen and (max-width:990px){
	.menu{margin:25px 0 0 97px}
}
@media screen and (max-width:700px){
	.menu{margin:25px 0 0 -13px}
}
@media screen and (max-width:550px){
	.menu{display:block;padding:9pt 13px 7px 26px;margin:25px -20px 0 -26px;border-radius:0}
	.menu li{padding-bottom:7px}
	.menu li:after{color:#ecf2f8}
}

/* feature */
/*.feature{display:block;background:rgba(0,0,0,.1);margin:60px 40px 0 0;padding:40px 130px;min-height:200px;max-width:825pt;border:none}
.feature h2{font-size:40px;display:inline}
.feature p{color:#000;margin:15px 0 0}
@media screen and (max-width:990px){
	.feature{margin:60px 40px 0 0;padding:40px 130px 0 110px}
}
@media screen and (max-width:860px){
	.feature{margin:50px 40px 0 0;padding:40px 40px 0 25px}
}
@media screen and (max-width:700px){
	.feature{margin:30px -20px 0 -25px}
}*/

/* projects */
.projects{padding:60px 0 0 130px;width:900px}
@media screen and (max-width:990px){
	.projects{padding:60px 130px 0 0;width:auto}
}
@media screen and (max-width:860px){
	.projects{padding:50px 40px 0 0;width:100%}
}
@media screen and (max-width:700px){
	.projects{padding:30px 0 0}
}
.projects>.list{padding:15px 0 60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex}
@media screen and (max-width:860px){
	.projects>.list{padding:15px 50px 50px 0}
}
@media screen and (max-width:700px){
	.projects>.list{padding:15px 0 30px}
}
@media screen and (max-width:550px){
	.projects>.list{display:block}
}
.projects>.list div{min-width:410px;max-width:410px;padding:0 40px 0 0}
@media screen and (max-width:860px){
	.projects>.list div{max-width:50%;min-width:50%}
}
@media screen and (max-width:550px){
	.projects>.list div{max-width:100%;min-width:100%}
}
.projects p{padding:0 0 10px}
.projects>.history{display:block;padding:15px 0 0}
.projects>.history .landmark{padding:0 0 10px;margin:0 20px 5px 0;display:inline-block;vertical-align:top;width:220px}
.projects>.history .date{letter-spacing:1px;font-size:10px;line-height:15px;color:rgba(0,0,0,.5);text-transform:uppercase;-webkit-font-smoothing:antialiased}


/* footer */
footer{font-size:12px;line-height:18px;color:rgba(0,0,0,.3);padding:55px 130px 0}
footer .likely__widget{margin-left:0!important;margin-right:14px!important}
footer p{margin:10px 0 0}
footer a{opacity: .5;}
@media screen and (max-width:990px){
	footer{padding:55px 30px 0 0}
}
@media screen and (max-width:860px){
	footer{padding:45px 30px 0 0}
}
@media screen and (max-width:700px){
	footer{padding:35px 30px 0 0}
}
