html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


::-moz-selection 	{ background-color: #000; color: #fff; }
::selection 		{ background-color: #000; color: #fff; }

a					{ outline: 0; color: #ec1d6f; text-decoration: none;background: transparent;}
a:hover 			{ opacity:.7; text-decoration:none }
a:active 			{ opacity: 1; }

a:active,
a:hover {
  outline: 0;
}

body {
	background: #fbfbfb;
	color: #8e8e8e;
	font-family: 'Cuprum', Tahoma, 'Trebuchet MS', sans-serif;
	font-size: .9em;
	padding:5%;
	margin: 0;

	-webkit-transition: font-size .5s;
	-moz-transition: font-size .5s;
	transition: font-size .5s;
}

h1 {
	font-size: 3em;
	font-weight: normal;
}

h2 {
	font-size: 2em;
	font-weight: normal;
}

.markdown h1 {
	font-size: 2em;
}

.markdown blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: .2em solid rgba(142, 142, 142, .5);
	opacity: .5;
}

.markdown ol {
	padding-left: 1.5em;
}

.markdown li {
	line-height: 1.3em;
	margin-bottom: .7em;
}

.tags{ color:#CCC; }
.tags_index{ padding-top:10% }

@media (min-width: 481px) {
	body {
		font-size: 1.3em;
	}
}

@media (min-width: 769px) {
	body {
		font-size: 1.6em;
	}
}

@media (min-width: 920px) {
	body {
		font-size: 2em;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 2.2em;
	}
}