<style>

*{
 margin: 0px;
 padding: 0px;
}

.LogoImg{ 
 height: 100px;
 width: 100px;
 margin-top: 10px;
 cursor: hand;
}

.link{
 font: 14px sans-serif;
 background-color: #ffffff;
 height: 20px;	
 margin: 0px;
 padding-left: 10px;
}

.linkL{	
 height: 2px;
 width: 100%;
 margin-top: 0px;
 text-align: center;
 margin: 0px;
}

.Line{
 margin: 0px;
 padding: 0px;
 text-align: center;
 width: 100%; 
 height: 1px;
}


.message_body {
 font: 14px sans-serif;
 color: #4F4F4F;
 background-color: #ffffff;
 width: 175px;
 border: dashed 1px;
 margin-left: 7px;
 cursor: hand;
}

p:hover {
 background-color: #C1C1C1;
}

body{
 background-color: #ffffff;
 background-image: url(./pic/Fon.gif);
 background-repeat:  repeat-x;
 width: 100%;
 height: 100%;
}

h3{
 font: 14px sans-serif;
}

#TopDiv{
 position: absolute;
 background-color: #ccccff;
 top: 150px;
 height: 30px;
 left: 25%;
 width: 70%;
 background-image: url(./pic/Up.png);
 background-repeat:  repeat-x;
}

#logo{
 position: absolute;
 top: 180px;
 left: 25%;
 background-color: #ffffff;
 height: 120px;
 width: 70%;
 text-align: center;
 margin: 0px;
 padding: 0px;
}


#LeftMenu{
 position: absolute; 
 top: 300px;
 left: 5%;
 margin: 0px;
}

#Content{
 position: absolute;
 top: 300px;
 left: 25%;
 height: 1100px;
 width: 70%;
 padding: 0px;
}

#Bottom{
 background-color: #ffffff;
 height: 100px;
 width: 100%;
 margin: 0px;
}

#NewFrame{
 background-color: #ffffff;
 height: 100%;
 width: 100%;
 margin: 0px;
 border: 0px;
}

</style>