<style>

*{
 margin: 0px;
 padding: 0px;
}

body{
 background-color: #ffffff;
 height: 100%;
 width: 100%;
 font: 14px sans-serif;
 margin-left: 10px;
 margin-top: 50px;
 border: 0px;
}

table{
 margin: 15px;
 width: 90%;
}

td{
 border: dashed 1px;
 padding: 10px;
}

p{
 text-indent: 15px;
 margin: 15px;
 padding: 0px;
 width: 90%;
 text-align: justify;
}

h3{
 font: 14px sans-serif;
 font-weight: bold;
 margin-left: 30px;
}

h2{
 font: 20px sans-serif;
 font-weight: bold;
 margin-left: 30px;
}

ol{
 list-style: decimal;
}

a{
 text-decoration: none;
}

.main{
 width: 70%;
}

.obl{ 
 margin: 15px;
 width: 90%;
 border: dashed 1px;
 background-color: #ffffff;
}

.pImg{
 text-align: center;
}

.Img{ 
 border: dashed 1px;
}

.Line{
 text-align: center;
 width: 95%; 
 height: 1px;
}

.primer{
 margin: 10px;
 text-align: justify;
 background-color: #ffffff;
 border-left: 3px solid #ffcc00;
}

</style>