---
layout: default
---

{% include ads.html %}
<article class="post typo white-content" itemscope itemtype="http://schema.org/BlogPosting">
  {% include post-header.html %}

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <div class="mac-spacer">⌘ ⌘ ⌘</div>

  <script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
  <script src="//yastatic.net/share2/share.js"
          async="async"></script>
  <div class="ya-share2"
      data-services="vkontakte,facebook,gplus,twitter,evernote,pocket,telegram"
      data-lang=""
      data-counter="{% if page.lang == 'ru' %}ru{% else %}en{% endif %}"></div>

  <p class="email-subscribe">
    Еше можно подписаться на <a href="http://eepurl.com/bkY7hb"><b>email рассылку</b></a> новых заметок. Не чаще раза в неделю, без спама.
  </p>
  {% include comments.html %}
</article>
{% include ads.html %}

{% include related.html %}

