<div class="media audio">

	{% if include.file %}
		<iframe src="https://w.soundcloud.com/player/?url={{ include.file }}&amp;color=eb2344&amp;auto_play=false&amp;hide_related=true&amp;show_artwork=true" allowfullscreen></iframe>
	{% endif %}

	{% if include.title or include.caption or include.url %}
		<div class="caption">

		  {% if include.title %}
		  	<h4>{{ include.title | strip_html }}</h4>
		  {% endif %}

		  {% if include.caption %}
		  	<p>{{ include.caption }}</p>
		  {% endif %}

		  {% if include.link %}
		  	<a href="{{ include.link }}" title="Visit Website" class="icon audio">Visit Website</a>
		  {% endif %}

		</div>
	{% endif %}

</div>
