<h3>Статьи о фронтенде</h3>
<ul class="l">
    {% for post in site.posts %}
        {% if post.categories[0] == 'front-end' %}
            <li><a href="{{ post.url }}/">{{ post.title }}</a>
        {% endif %}
    {% endfor %}
</ul>

<h3>Инструментарий</h3>
<ul class="l">
    {% for post in site.posts %}
        {% if post.categories[0] == 'tools' %}
            <li><a href="{{ post.url }}/">{{ post.title }}</a>
        {% endif %}
    {% endfor %}
</ul>

<h3>Без категории</h3>
<ul class="l">
    {% for post in site.posts %}
        {% if post.categories[0] == 'blog' %}
            <li><a href="{{ post.url }}/">{{ post.title }}</a>
        {% endif %}
    {% endfor %}
</ul>
