<div class="banner">
	<!-- RotaBan.ru Zone Code -->
	<div id="rotaban_241531" class="rbrocks rotaban_235fb6b06abf4e509ffd228c7d6e1cbe"></div>
	<!-- END RotaBan.ru Zone Code -->

	<!-- RotaBan.ru Ad Code -->
	<script type="text/javascript">
	(function(){
	    var rb = document.createElement('script');
	        d = new Date();
	    d.setHours(0);
	    d.setMinutes(0);
	    d.setSeconds(0);
	    d.setMilliseconds(0);
	    rb.type = 'text/javascript';
	    rb.async = true;
	    rb.src = '//s1.rotaban.ru/rotaban.js?v=' + d.getTime();
	    (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(rb);
	})();
	</script>
	<!-- END RotaBan.ru Ad Code -->

	<!-- <script type="text/javascript">
		var begun_auto_pad = 424098231;
		var begun_block_id = 424098237;
	</script>
	<script async src="http://autocontext.begun.ru/autocontext2.js" type="text/javascript"></script> -->
</div>
