<div class="card">
    {% if include.image %}
        {% if include.link %}<a href="{{ include.link }}">{% endif %}
        <img src="{{ include.image }}">
        {% if include.link %}</a>{% endif %}
    {% endif %}

    <div class="padding">
        {% if include.categories %}
            <div class="tags">
                {% include categories.html categories=include.categories %}
            </div>
        {% endif %}

        {% if include.tag and include.title %}
            <{{ include.tag }} class="title">
                {% if include.link %}<a href="{{ include.link }}">{% endif %}
                    {{ include.title }}
                {% if include.link %}</a>{% endif %}
            </{{ include.tag }}>
        {% endif %}

        {% if include.description %}
            <p>{{ include.description }}</p>
        {% endif %}
    </div>
</div>
