<h4 id="comments" style="margin-top:0;display: none">
	Комментарии
	<span style="font-weight: normal;">(<a style="border-bottom: 1px dotted;" href='javascript:showHide();void(0);'>показать</a>)</span>
</h4>
<div id="disqus_thread" style="display:none">Загружаю...</div>

<noscript>Пожалуйста влючите JavaScript чтобы увидеть <a href="https://disqus.com/?ref_noscript" rel="nofollow">комментарии.</a></noscript>

<script>
	var disqus = document.getElementById("disqus_thread");
	var cm = document.getElementById("comments");

	cm.style.display = "block";

	function showHide () {
		importScript("http://ymatuhin.disqus.com/embed.js");
		disqus.style.display = "block";
		cm.innerHTML = '';
	}
</script>
