{% assign count = 1 %}
{% capture related_posts %}
    {% for post in site.posts %}
      {% if post.url != page.url %}
      {% if post.url != page.previous.url %}
      {% if post.url != page.next.url %}
        {% for tag in page.tags %}
          {% if post.tags contains tag %}
            {% unless temp_posts contains post.title %}
              {% capture temp_posts %}{{ post.title | strip_html }}{% endcapture %}
              <li><a rel="nofollow" href="{{ post.url }}">{{ post.title | strip_html }}</a><br /></li>
              {% assign count = count | plus:'1' %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% endif %}
      {% endif %}
    {% endfor %}
{% endcapture %}

{% capture latest_posts %}
    {% for post in site.posts %}
        {% if count <= 3 %}
            {% if post.url != page.url %}
            {% if post.url != page.previous.url %}
            {% if post.url != page.next.url %}
                {% unless related_posts contains post.title %}
                    <li>
                        <a rel="nofollow" href="{{ post.url }}">
                            <img src="/assets/img/{{ post.image }}" alt="{{ post.imageCaption }}">
                            {{ post.title | strip_html }}
                        </a>
                    </li>
                    {% assign count = count | plus:'1' %}
                {% endunless %}
            {% endif %}
            {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}


<br>
<aside>
    <h4>Популярное</h4>
    <ul class="related">
      {{ related_posts }}
      {{ latest_posts }}
    </ul>
</aside>
