{% assign count = 1 %}
{% capture related_posts %}
    {% for post in site.posts %}
	  {% if count <= 3 %}
      {% if post.url != page.url %}
      {% if post.url != page.previous.url %}
      {% if post.url != page.next.url %}
        {% for tag in page.tags %}
          {% if post.tags contains tag %}
            {% unless temp_posts contains post.title %}
              {% capture temp_posts %}{{ post.title | strip_html }}{% endcapture %}
				  {% include post.html %}
              {% assign count = count | plus:'1' %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% endif %}
      {% endif %}
	  {% endif %}
    {% endfor %}
{% endcapture %}

{% capture latest_posts %}
    {% for post in site.posts %}
        {% if count <= 3 %}
            {% if post.url != page.url %}
            {% if post.url != page.previous.url %}
            {% if post.url != page.next.url %}
                {% unless related_posts contains post.title %}
                	{% include post.html %}
                    {% assign count = count | plus:'1' %}
                {% endunless %}
            {% endif %}
            {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endcapture %}


<aside>
	<h3>Ещё</h3>
    <ul class="posts">
      {{ related_posts }}
      {{ latest_posts }}
    </ul>
</aside>
