{% assign count = 1 %}

{% assign tags_list = page.tags | sort %}
{% assign max_count = site.related_posts_max %}

{% assign cached = "" %}

{% capture related_posts %}
{% for post in site.posts %}
{% assign index_post = forloop.index %}
{% assign post_tags = post.tags | sort %}
   {% if count <= max_count %}
     {% if tags_list == post_tags %}
       {% if post.title != page.title %}
           <li class="clearfix">
               <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                   <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }} {% include month.html %} {{ post.date | date: "%-Y"}}</abbr>
                   <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>
                   <a class="entry-title" rel="bookmark" href="{{ post.url }}/"><h6 itemprop="headline">{{ post.title }}</h6></a>
                   <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
               </article>
           </li>
       {% assign count = count | plus:'1' %}
       {% endif %}
     {% else %}

      {% for cat in post_tags %}
      {% for dog in tags_list %}
        {% if cat == dog %}
			{% unless cached contains post.url %}
                <li class="clearfix">
                    <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                        <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }} {% include month.html %} {{ post.date | date: "%-Y"}}</abbr>
                        <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>
                        <a class="entry-title" rel="bookmark" href="{{ post.url }}/"><h6 itemprop="headline">{{ post.title }}</h6></a>
                        <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
                    </article>
                </li>
				{% assign count = count | plus:'1' %}
			{% endunless %}

			{% capture cached %}
				{{ cached | append: post.url }}
			{% endcapture %}
        {% endif %}
      {% endfor %}
      {% endfor %}

     {% endif %}
   {% endif %}
{% endfor %}
{% endcapture %}

<div>
    <h4>Похожие публикации</h4>
    {% if count == 1 %}
    	<ul id="posts-list" class="hfeed" style="margin-top:0">
    		{% for post in site.related_posts limit:5 %}
                <li class="clearfix">
                    <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                        <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }} {% include month.html %} {{ post.date | date: "%-Y"}}</abbr>
                        <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>
                        <a class="entry-title" rel="bookmark" href="{{ post.url }}/"><h6 itemprop="headline">{{ post.title }}</h6></a>
                        <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
                    </article>
    		{% endfor %}
    	</ul>
    {% else %}
    	<ul id="posts-list" style="margin-top:0">
    		{% assign needPosts = 6 | minus: count %}
    		{{ related_posts }}

    		{% for post in site.related_posts limit: needPosts %}
                <li class="clearfix">
                    <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                        <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }} {% include month.html %} {{ post.date | date: "%-Y"}}</abbr>
                        <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>
                        <a class="entry-title" rel="bookmark" href="{{ post.url }}/"><h6 itemprop="headline">{{ post.title }}</h6></a>
                        <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
                    </article>
                </li>
    		{% endfor %}
    	</ul>
    {% endif %}
</div>
