<footer class="main-footer" role="contentinfo">
    <div class="vertical-container">
        <div class="wrapper">

            <p class="copy"><a href="mailto:ymatuhin@yandex.ru" rel="nofollow">ymatuhin@yandex.ru</a></p>

            <noindex>
                <ul class="social">
                    <li><a href="#" rel="nofollow">VK</a></li>
                    <li><a href="#" rel="nofollow">Facebook</a></li>
                    <li><a href="#" rel="nofollow">Twitter</a></li>
                    <li><a href="#" rel="nofollow">GitHub</a></li>
                    <li><a href="#" rel="nofollow">LinkedIn</a></li>
                </ul>
            </noindex>

        </div>
    </div>
</footer>
