<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
<!-- <link rel="stylesheet" href="/css/main.css"> -->
<script src="/js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>
	InstantClick.init();
	addTypo();

	InstantClick.on('change', addTypo);

	function addTypo () {
		if (document.querySelector('.slaquo, .sbrace') !== null) return;

		function forEachElement(selector, fn) {
			var elements = document.querySelectorAll(selector);
			for (var i = 0; i < elements.length; i++) fn(elements[i], i);
		}

		forEachElement('body *:not(script):not(style)', function(el, i){
			el.innerHTML = el.innerHTML.replace(/«/g, '<span class="slaquo"> </span> <span class="hlaquo"> «</span>')
			el.innerHTML = el.innerHTML.replace(/\(/g, '<span class="sbrace"> </span> <span class="hbrace"> (</span>')
		});
	}
</script>

<!-- Yandex Metrica -->
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28017147 = new Ya.Metrika({id:28017147, webvisor:true, clickmap:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/28017147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>