<address itemscope itemtype="http://schema.org/Person" class="footer ">
    {% unless page.categories %}
    <hr class="wrap-medium wrap-center">
    {% endunless %}

    {% include search.html %}
    <br>

    <p>© <span itemprop="name">Юрий Матюхин</span>, 2013 — 2016</p>
    <p>
        Эл. почта: <a itemprop="email" rel="nofollow" href="mailto:ymatuhin@yandex.ru" class="dotted">ymatuhin@yandex.ru</a>,
        твиттер: <a itemprop="url" rel="nofollow" href="//twitter.com/ymatuhin">@ymatuhin</a>
    </p>

    {% if page.tags %}
        <br>
        <p class="tags wrap-medium-box">{% for tag in page.tags %} {{ tag }}{% endfor %}</p>
    {% endif %}
</address>
