<footer class="site-footer"
        role="contentinfo">
  <a class="site-footer__link"
     href="https://twitter.com/ymatuhin">
    <img src="/assets/social/twitter.svg" class="site-footer__icon" alt=""></a>

  <a class="site-footer__link"
     href="https://github.com/ymatuhin">
    <img src="/assets/social/github.svg" class="site-footer__icon" alt=""></a>

  <a class="site-footer__link"
     href="https://vk.com/ymatuhin">
    <img src="/assets/social/vk.svg" class="site-footer__icon" alt=""></a>

  <a class="site-footer__link"
     href="https://www.instagram.com/ymatuhin">
    <img src="/assets/social/instagram.svg" class="site-footer__icon" alt=""></a>

  <a class="site-footer__link"
     href="/feed.xml">
    <img src="/assets/social/rss.svg" class="site-footer__icon" alt=""></a>
</footer>
