<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% feed_meta %}
  {% seo %}

  <!-- inline css -->
  {% capture include_to_scssify %}{% include critical.scss %}{% endcapture %}
  <style>{{ include_to_scssify | scssify }}</style>

  <!-- Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=JymzngPEmg2">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=JymzngPEmg2">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=JymzngPEmg2">
  <link rel="manifest" href="/assets/icons/manifest.json?v=JymzngPEmg2">
  <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=JymzngPEmg2" color="#0c00ff">
  <link rel="shortcut icon" href="/assets/icons/favicon.ico?v=JymzngPEmg2">
  <meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=JymzngPEmg2">
  <meta name="theme-color" content="#0c00ff">

  <link rel="manifest" href="/manifest.json">
  <script src="https://ymatuhin.ru/ads/ads.js" defer></script>
</head>
