{% assign list_posts_items = '' %}

{% capture list_posts_category %}{{ page.url | replace: '/', ''}}{% endcapture %}

{% if list_posts_category != "all" %}
    {% for post in site.posts %}
        {% unless post.invisible and site.debug != true %}
            {% for category in post.categories %}
                {% if list_posts_category contains category or category == "all" %}
                    {% assign processed_post = post %}
                    {% capture list_posts_items %}{{ list_posts_items }}
                        <li><a href="{{ post.url }}/">{{ post.title }}</a>&nbsp;—&nbsp;<em class="published">{{ post.date | date: "%d&nbsp;%B, %Y" }}
                        {% if post.categories[0] == 'all' %} в <mark><a href="/all/">Записях</a></mark>{% endif %}
                        </em><br>
                        {% for tag in post.tags %}
                            <a href="/tags/#{{tag | replace: ' ', '_'}}" class="tag">{{ tag }}</a>
                        {% endfor %}
                        </li>{% endcapture %}
                {% endif %}
            {% endfor %}
        {% endunless %}
    {% endfor %}
{% else %}
    {% for post in site.posts %}
        {% unless post.invisible and site.debug != true %}
            {% assign processed_post = post %}
            {% capture list_posts_items %}{{ list_posts_items }}
                <li><a href="{{ post.url }}/">{{ post.title }}</a>&nbsp;—&nbsp;<em class="published">{{ post.date | date: "%d&nbsp;%B, %Y" }} в
            		<mark>{% if post.categories[0] == 'blog' %}<a href="/blog/">Блоге</a>{% elsif post.categories[0] == 'all' %}<a href="/all/">Записях</a>{% else %}<a href="/front-end/">Заметках</a>{% endif %}</mark>
            		</em><br>
                {% for tag in post.tags %}
                    <a href="/tags/#{{tag | replace: ' ', '_'}}" class="tag">{{ tag }}</a>
                {% endfor %}
                </li>{% endcapture %}
        {% endunless %}
    {% endfor %}
{% endif %}

{% if list_posts_items != '' %}

    <ul class="posts">
        {{ list_posts_items }}
    </ul>

{% else %}

    <p>В этой категории еще нет записей.</p>

{% endif %}
