{% if page.image %}
	<figure class="post-image wrap-large"
			{% if page.imageWidth %}style="width: {{ page.imageWidth }}px"{% endif %}
			itemscope
			itemprop="image"
			itemtype="http://schema.org/ImageObject">
		{% capture url %}{{ page.image | prepend: '/assets/img/' }}{% endcapture %}


		<a rel="nofollow"
		   class="{% if page.ratio %}ratio ratio{{ page.ratio }}{% endif %}"
		   {% if page.color %}
				style="background: #{{ page.color }}"
		   {% endif %}
		   href="{% if page.imageLink %}{{ page.imageLink }}{% else %}{{ url }}{% endif %}">

			<span>Изображение не загрузилось&nbsp;😔</span>

			<img itemprop="contentUrl" src="{{ url }}"
				 width="{{ page.imageWidth }}"
				 height="{{ page.imageHeight }}"
				 {% if page.imageCaption %}
					alt="{{ page.imageCaption }}"
				 {% else %}
					alt="{{ page.title | strip_html }}"
				 {% endif %}
				 onerror="style.opacity=0;parentNode.children[0].style.opacity = 1;"
				 style="{% if page.imageSpace %}padding: 24px;{% endif %}opacity:1;"
				 class="{% if page.pixelArt %}pixel-art{% endif %}">
		</a>

		<meta itemprop="url" content="{{ url }}">
		{% if page.imageWidth %}
			<meta itemprop="width" content="{{ page.imageWidth }}">
		{% endif %}

		{% if page.imageHeight %}
			<meta itemprop="height" content="{{ page.imageHeight }}">
		{% endif %}

		{% if page.imageTitle %}
			<figcaption itemprop="caption">{{ page.imageTitle }}</figcaption>
		{% endif %}
	</figure>
{% endif %}
