{% if page.social_image %}
<table class="media-table" width="100%">
	<tr><td width="{{ page.social_width }}">
		<figure>
			<a rel="nofollow" href="{% if page.social_link %}{{ page.social_link }}{% else %}{{ page.social_image | prepend: '/assets/img/' }}{% endif %}">
				<amp-img
					src="{{ page.social_image | prepend: '/assets/img/' }}"
					alt="{% if page.social_alt %}{{ page.social_alt }}{% else %}{{ page.social_caption }}{% endif %}"
					{% if page.social_width %}width="{{ page.social_width }}"{% endif %}
					{% if page.social_height %}height="{{ page.social_height }}"{% endif %}
					layout="responsive"
					class="{% if page.pixelart %}pixel-art{% endif %} {% if page._noborder %}noborder{% endif %}">
				</amp-img>
			</a>

			{% if page.social_caption %}
				<figcaption>{{ page.social_caption }}</figcaption>
			{% endif %}
		</figure>
	</td><td> &nbsp; </td></tr>
</table>
{% endif %}
