<div class="top-panel {% if include.small %}top-panel_size_small{% endif %}">
	{% if include.small %}
		<a href="/" class="top-panel__home-link">
			<strong class="top-panel__home-text">Юрий Матюхин</strong>
		</a>
	{% else %}
		<h1 class="top-panel__home-text">Юрий Матюхин</h1>
	{% endif %}

	{% if page.url == "/" %}
	<p class="top-panel__lead">
		Я&nbsp;фронтенд разработчик, верстаю и&nbsp;программирую сайты и&nbsp;сервисы. Интересуюсь архитектурой приложений, дизайном и&nbsp;текстом.
		Хочу стать одним из&nbsp;основателей проекта с&nbsp;посещаемостью 1&nbsp;000&nbsp;000&nbsp;в месяц. Если у&nbsp;вас такой проект или идея, то&nbsp;{% if page.url == "/contacts/" %}давайте познакомимся.
		{% else %}<a href="/contacts/">давайте познакомимся</a>.
		{% endif %}
	</p>
	{% endif %}

	<ul class="top-menu">
		{% if page.url == "/blog/" %}
			<li><strong>Заметки</strong>
		{% else %}
			<li><a href="/blog/">Заметки</a>
		{% endif %}

		{% if page.url == "/projects/" %}
			<li><strong>Проекты</strong>
		{% else %}
			<li><a href="/projects/">Проекты</a>
		{% endif %}

		{% if page.url == "/resume/" %}
			<li><strong>Резюме</strong>
		{% else %}
			<li><a href="/resume/">Резюме</a>
		{% endif %}

		{% if page.url == "/about/" %}
			<li><strong>Обо мне</strong>
		{% else %}
			<li><a href="/about/">Обо мне</a>
		{% endif %}

		{% unless page.url == "/" %}
			{% if page.url == "/contacts/" %}
				<li><strong>Сказать «Привет!»</strong>
			{% else %}
				<li><a href="/contacts/">Сказать «Привет!»</a>
			{% endif %}
		{% endunless %}
	</ul>
</div>
<div class="vspace"></div>
