{% if page.url == '/index.html' or page.url == '/' %}
<ul class="menu">
{% else %}
<ul class="menu menu_page">
{% endif %}

    {% if page.url == '/index.html' or page.url == '/' %}
    {% else %}
    <li><a {% if page.categories %}rel="nofollow"{% endif%} href="/">Главная</a></li>
    {% endif %}

    <li>
        {% if page.url == '/front-end/' %}Фронтенд{% else %}
            <a {% if page.categories %}rel="nofollow"{% endif%} href="/front-end/">Фронтенд</a></li>
        {% endif %}
    <li>
        {% if page.url == '/tools/' %}Инструменты{% else %}
            <a {% if page.categories %}rel="nofollow"{% endif%} href="/tools/">Инструменты</a></li>
        {% endif %}
    <li>
        {% if page.url == '/blog/' %}Заметки{% else %}
            <a {% if page.categories %}rel="nofollow"{% endif%} href="/blog/">Заметки</a></li>
        {% endif %}
    <li>
        {% if page.url == '/about/' %}Обо мне{% else %}
            <a {% if page.categories %}rel="nofollow"{% endif%} href="/about/">Обо мне</a></li>
        {% endif %}
</ul>
