<li class="posts__item">
	{% if post.social_image %}
		{% include media-image.html
			url=post.social_image
			width=post.social_width
			height=post.social_height
			link=post.url
			noborder=post.noborder
		%}
	{% endif %}
	<a href="{{ post.url }}">
		<span class="posts__item-title">{{ post.title | strip_html }}</span>
	</a>
	<time class="posts__time" datetime="{{ post.date | date: '%Y-%m-%d' }}">
		{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }}&nbsp;{% include month.html %}&nbsp;{{ post.date|date: "%Y" }}
	</time>
</li>
