{% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
{% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
{% capture next_year %}{{ post.next_in_category.date | date: "%Y" }}{% endcapture %}
{% capture next_month %}{{ post.next_in_category.date | date: "%B" }}{% endcapture %}

{% assign thisMonth = post.date | date: "%-m" %}
{% assign nextMonth = post.next_in_category.date | date: "%-m" %}


{% if forloop.first %}
	<h3>
		{% assign m = thisMonth %}{% include month_full.html %}
	</h3>
{% endif %}

<div class="landmark">
	<div class="date">
		{% assign m = post.date | date: "%-m" %}{{ post.date | date: "%-d" }} {% include month.html %} {{ post.date  | date: "%-Y" }}
	</div>
	<div class="description">
		<a rel="bookmark" href="{{ post.url }}">{{ post.title | strip_html }}</a>
	</div>
</div>

{% unless forloop.last %}
	{% if this_year != next_year %}
	<h3>{% assign m = nextMonth %}{% include month_full.html %}</h3>
	{% else %}
		{% if this_month != next_month %}
		<h3>{% assign m = nextMonth %}{% include month_full.html %}</h3>
		{% endif %}
	{% endif %}
{% endunless %}
