<noindex>
    <span class="section-subtitle">
        Поделиться записью в
        <a href="http://vk.com/share.php?url={{ site.url}}{{ page.url }}/&amp;title={{ page.title }}&amp;description={{ page.description }}&amp;image={{ post.image }}" target="_blank">VK</a>,
        <a href="https://twitter.com/home?status={{ page.title }} — {{ site.url}}{{ page.url }}/" target="_blank">Twitter</a>,
        <a href="https://www.facebook.com/share.php?u={{ site.url}}{{ page.url }}/&amp;title={{ page.title }}&amp;p[images][0]={{ post.image }}" target="_blank">Facebook</a>,
        <a href="https://plus.google.com/share?url={{ site.url}}{{ page.url }}/" target="_blank">Google+</a>
    </span>
</noindex>
