<span class="section-subtitle">
    Share on
    <a href="https://twitter.com/home?status=How to get your oldest #themeforest item back on the popular list+http://rubenbristian.com/jackman/blog/2014/themeforest-marketing/" target="_blank">Twitter</a>,
    <a href="https://www.facebook.com/share.php?u=http://rubenbristian.com/jackman/blog/2014/themeforest-marketing/&amp;title=How to get your oldest #themeforest item back on the popular list" target="_blank">Facebook</a>,
    <a href="https://www.facebook.com/share.php?u=http://rubenbristian.com/jackman/blog/2014/themeforest-marketing/&amp;title=How to get your oldest #themeforest item back on the popular list" target="_blank">LinkedIn</a>, 
    <a href="https://plus.google.com/share?url=http://rubenbristian.com/jackman/blog/2014/themeforest-marketing/" target="_blank">Google+</a>
</span>
