div {zoom:1}
* html .class{background-image:none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/.png',sizingMethod=scale)}

#content .left-col {
    float: left;
    padding: 0 0 0 5%;
    width: 19%;
    min-width: 250px;
	margin-left:-31%;
}
#content .right-col {
    width: 75%;
	float:static !important;
	margin-top:-90px;
}
#header, #wrapper, #footer, #main-bg, .section{
	overflow-x:hidden !important;
}
.section {
	padding-left:30px !important;
	margin-left:-30px !important;
}
.title {
	margin-left:30px !important;
}

#main-bg.mbg #header, #main-bg #header {
    position: relative;
    padding: 0 0 32px 0;
    padding-left: 2%;
    background: url(../images/bar/slogan.png) 26% 95% no-repeat;
}
#main-bg #header { background: url(../images/bar/second-slogan.png) 17% 90% no-repeat }

.map-btn {
    float: left;
    margin: 162px 0 0 0;
    height: 40px;
    padding: 40px 0 0 52px;
}

* html #wrapper{	
	width: expression(
	(document.compatMode && document.compatMode == 'CSS1Compat') ?
	(document.documentElement.clientWidth < 1000 ? "1000px" :
	(document.documentElement.clientWidth > 1440 ? "1440px" : "auto")) :
	(document.body.clientWidth > 1000 ? "1000px" :
	(document.body.clientWidth < 1440 ? "1440px" : "auto")));

}
 #content h2 {
	margin-top:70px !important;
}
 #content.otel .left-col {
	margin-left:-350px;
	padding-left:5%;
}
 #content.otel .right-col h2, #content.otel .left-col .otel-lc-country{
	margin-top:0px !important;
}
 #content.otel .right-col {
	margin-top:0px;
	width:67%;
	padding:0;
}
 #content.otel .right-col #gallery img{
	padding-right:2%; 
 }
 #content.otel .right-col h2 {
	display:inline;
	float:left;
}
 #content.otel .right-col .stars {
	display:inline;
	float:left;
}

 #content.otel .right-col .ie7fix {
	margin-top:30px; 
 }
 #content.otel .left-col a {
	display:inline !important;
    float: left;
}
 #content.otel .stars {
	display:inline !important;
    float: left;
}


 #content.sovet .left-col {
	margin-left:-27%;
	padding-left:5%;
}
 #content.sovet .right-col h2,#content.sovet .left-col h2{
	margin-top:0px !important;
}
 #content.sovet .right-col {
	margin-top:0px;
	width:55%;
	padding-left:30px;
}
 #content.tours .left-col {
	margin-left:-22%;
	padding-left:5%;
}
 #content.tours  .ie{
	padding:0 0 0 45px;
}
 #content.tours .right-col h2,#content.tours .left-col h2{
	margin-top:0px !important;
}
 #content.tours .right-col {
	width:68%;
	padding:0 !important;
	margin:0 !important;
}
 #content.tours .right-col .hot-right,  #content.tours .right-col .hot-right {
	margin:0;
}

#content.tours .bc-tour { width: 26%;margin-right:-100px; }

#content .countries {
	width:90%;
}
 .countries .block-countr {
     float: left;
     width: 30%;
     margin-right: 2%;
     margin-bottom: 40px;
 }
 .countries .left-img {
     float: left;
     width: 33%;
     text-align: right;
     margin: 0 1% 0 0;
	 margin-left:-4%;
 }
 #content.contact .right-col {
	margin-top:-450px;
}

#content.contact label.email {
	width:100px;
	text-align:right;
 }
 #content.contact .map-bg2 {
	zoom:1;
}
#content.contact  .map-bg2 a {
	zoom:1;
	margin-top:-5px;
}

 .block-countr {
	zoom:1;
}
 #header div.main-nav {
	position:relative !important ;
}
 .main-nav {
    top: 55px;
    left: 305px;
	width:40%;
} 
 .main-nav li{
	margin-left:-1px;
} 
  .tel-numb {
	margin-top:-45px;
}
 .sub-nav ul li.sub4 { width: 43% }

 #main-bg.mbg .countries { padding: 40px 0; width:90%;}
 .ie7 {
	padding-left:140px !important;
 }
 
#footer .foot-block-right {
	margin-right:30px;
	margin-top:-100px;
}