html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
body {
	font: 14px/18px Calibri, Arial, Tahoma, Verdana, sans-serif;
	height: 100%;	
	background:#f4f6f6 url(../img/header/clouds.png) top center repeat-x;
}
a {
	color:#3274a3;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	min-width: 940px;
	padding:0 20px;
	max-width: 1180px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;	
	background:url(../img/header/pulse.png)  -11px 174px no-repeat;
	overflow:hidden;
}
@font-face {
    font-family: 'PFAgoraSansProMedium';
    src: url('pfagorasanspro-medium-webfont.eot');
    src: url('pfagorasanspro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('pfagorasanspro-medium-webfont.woff') format('woff'),
         url('pfagorasanspro-medium-webfont.ttf') format('truetype'),
         url('pfagorasanspro-medium-webfont.svg#PFAgoraSansProMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
.fon1 {background:url(../img/header/left-shadow.png) 0 0 no-repeat;}
.fon2 {background:url(../img/header/right-shadow.png) top right no-repeat;}
/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 482px;
	width:100%;
	margin-right:50px;
	background:url(../img/header/sity.png) 100% 100px  no-repeat;
	position:relative;
}
.logo {
	width:249px;
	height:104px;
	margin:18px 0 0 -5px;
}
.logo > a {
	display:block;
	width:100%;
	height:100%;
	background:url(../img/header/logo.png) 0 0 no-repeat;
}
h1 + p {
	font:16px Tahoma,sans-serif;
	color:#fff;
	line-height:18px;
	text-shadow: 0px 1px 1px #000000;
	margin:-13px 0 0 2px;	
}
.h-box {
	position:relative;
	z-index:15;
	width:364px;
	height:309px;
	float:right;
	margin-top:-20px;
	padding-top:20px;
	background:url(../img/header/right-col-shadow.png) 0 0 no-repeat;
}
.h-box a{
	color:#ff0;
	font:16px 'PFAgoraSansProMedium', Arial,sans-serif;
	text-shadow: 0px 1px 1px #000000;
	margin-left:170px;
}
.number {
	font:14px 'PFAgoraSansProMedium', Arial,sans-serif;
	color:#fff;
	text-shadow: 0px 1px 1px #000000;
	margin-top:-3px;
	margin-left:170px;
}
.number span {
	font-size:24px;
}
.addr {
	font:14px Calibri, Arial,sans-serif;
	font-style:italic;
	color:#fff;
	text-shadow: 0px 1px 1px #000000;
	margin-top:-18px;
	margin-bottom:15px;
	margin-left:170px;
}
.docs {
	position:absolute;
	left:52.4%;
	top:43px;
	margin-left:-309px;
	width:600px;
	height:464px;
	background:url(../img/header/docs.png) center top  no-repeat;
	z-index:10;
}
.topmenu {
	width:100%;
	height:67px;
	font:18px 'PFAgoraSansProMedium', Arial, sans-serif;
	background:transparent url(../img/menu-shadow.png) bottom center no-repeat;
	margin-bottom:-2px;
	margin-left:-10px;
}	
.topmenu li {
	float:left;
	height:49px;
	line-height:46px;
	text-align:center;
}
.topmenu li.active, .topmenu li:hover{	background:url(../img/menu-active.png) 0 0 no-repeat;}
.topmenu li.active a {text-decoration:none;}
/* 
li.it1 {width:140px;}
li.it2 {width:148px;}
li.it3 {width:112px;}
li.it4 {width:160px;}
li.it5 {width:123px;}
li.it6 {width:140px;}
li.it7 {width:137px;} */

li.it1 {width:15%;}
li.it2 {width:16%;}
li.it3 {width:12%;}
li.it4 {width:16%;}
li.it5 {width:13%;}
li.it6 {width:14%;}
li.it7 {width:14%;}

.topmenu li b{
	font-weight:normal;
	display:block;
	height:49px;
	margin-left:15px;
	padding-right:15px;
}
.topmenu li.active b, .topmenu li:hover b  {	background:url(../img/menu-active-right.png) 100% 0 no-repeat;}
.topmenu li a{
	color:#000;
	width:100%;
	height:100%;
	display:block;
	background:url(../img/menu-slash.png) top right no-repeat;
}
.topmenu li:last-child {	
	margin-right:-20px;
}

.plus1 {
	position:absolute;
	width:61px;
	height:60px;
	left:12px;
	top:282px;
	background:url(../img/header/plus1.png) 0 0 no-repeat;
}
.plus2 {
	position:absolute;
	width:45px;
	height:45px;
	left:188px;
	top:238px;
	background:url(../img/header/plus2.png) 0 0 no-repeat;
}
.plus3 {
	position:absolute;
	width:31px;
	height:32px;
	left:260px;
	top:-10px;
	background:url(../img/header/plus3.png) 0 0 no-repeat;
}
.plus4 {
	position:absolute;
	width:48px;
	height:48px;
	right:185px;
	top:65px;
	background:url(../img/header/plus4.png) 0 0 no-repeat;
}
.plus5 {
	position:absolute;
	width:38px;
	height:39px;
	right:35px;
	top:-2px;
	background:url(../img/header/plus5.png) 0 0 no-repeat;
}
.plus6 {
	position:absolute;
	width:60px;
	height:61px;
	right:55px;
	top:152px;
	background:url(../img/header/plus6.png) 0 0 no-repeat;
}
/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 108px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 16px 220px 50px 272px;	
}
.float-left {padding:5px 10px 0 0;float:left;width:150px;height:100px;}
.float-right {padding:5px 0 0 10px;float:right;width:150px;height:100px;}
h2 {
	font: 24px Calibri, Arial, Tahoma, Verdana, sans-serif;
	margin-bottom:16px;
}
.bread {
	color:#adadad;
	font: 12px Calibri, Arial, Tahoma, Verdana, sans-serif;
	margin-top:-14px;
	margin-bottom:15px;
}
.bread a{color:#adadad;}
table {width:100%;}
table tr {	background:url(../img/nav-sideleft-hr.png) bottom left repeat-x;}
.iwt table tr:hover {background: #eee url(../img/nav-sideleft-hr.png) bottom left repeat-x;}
table tr:first-child td {font-weight:bold;color:#000;}
table tr td {padding:15px;vertical-align:middle;}
table tr td a {
	display:block;
	font-style:normal;
	font: 12px Calibri, Arial, Tahoma, Verdana, sans-serif;
	color:#adadad;
	text-decoration:none;
	margin-bottom:-10px;
	margin-top:-2px;
}
table tr td a.complete {color:#adadad;border-bottom:0;padding-right:12px;margin-right:-12px;position:absolute;}
table tr td a.complete:hover {color:#adadad;border-bottom:0;background:url(../img/delete.png) 100% 4px no-repeat;}
table tr td a {color:#00746b;border-bottom:1px dashed #00746b;}
table tr td a:hover {color:#1ba4e5;border-bottom:1px dashed #1ba4e5;}
.col1, .col4 {padding-right:10px;}
.col2 {padding-left:0;}
.col3 {white-space:nowrap;}
.col3, .col4, .col5 {
	text-align:center;
}
.col5 {color:#00746b;}
.title {color:#df0202;font-size:16px;padding-top:30px;}

.news-item {
	position:relative;
	padding-left:85px;
}
.news-item img, .news-item .date {
	width:78px;
	height:48px;
	position:absolute;
	left:0;top:0;
}
.news-item a {font:14px Tahoma, Verdana, Calibri, Arial, sans-serif;}
.news-item p {font:12px Tahoma, Verdana, Calibri, Arial, sans-serif;color:#484848;}

.news-item .date {
	background:url(../img/news-date.png) right top no-repeat;
	text-align:center;
	font:36px  Arial, Tahoma, Verdana, Calibri, sans-serif;
	line-height:14px;
	padding-top:10px;
	color:#4d4d4d;
}
.news-item .date span{
	font:12px  Arial, Tahoma, Verdana, Calibri, sans-serif;

}
.out {text-align:center;}
.inn{display:inline-block;}

.page-nav {margin-left:85px;}
.page-nav li{
	width:21px;
	height:21px;
	float:left;
	text-align:center;
	font:14px Tahoma, Verdana, Calibri, Arial, sans-serif;
	line-height:21px;
}
.page-nav li.active{background:#0075A6;}
.page-nav li.active a{color:#fff;}
.page-nav li a{text-decoration:none;}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	width: 244px;
	margin-left: -100%;
	position: relative;
}
#sideLeft img{padding:40px 25px;}

.leftnav {
	padding:18px 0 10px 0px;
	list-style-image:url(../img/bull.png);
	list-style-position: inside;
	font:18px 'PFAgoraSansProMedium', Arial, sans-serif;
}
.leftnav li{
	padding:4px 0 10px 5px;
	background:url(../img/nav-sideleft-hr.png) bottom left no-repeat;
}
.leftnav li > ul{
	margin-top:13px;
	padding-left:22px;
	list-style-image:url(../img/min-bull.png);
	list-style-position: inside;	
}

.leftnav li > ul li{
	background:transparent;
	line-height:16px;
	font-size:16px;
}

.leftnav li > ul li:hover  a, .leftnav > li.active:hover a{text-decoration:none;}
.leftnav li > ul li a:hover{color:#000;}
.leftnav > li:hover, .leftnav > li.active{background:#eaf2f5 url(../img/nav-sideleft-hr.png) bottom no-repeat;}
.leftnav li a{
	color:#2977a5;
	text-decoration:none;
	width:100%;
	height:100%;
}
.leftnav li:hover > a{	text-decoration:underline;}
/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: 0px;
	width: 193px;
	margin-left: -204px;
	position: relative;
	padding-top:22px;
	padding-left:9px;
}
.sideright-nav {
	font:18px 'PFAgoraSansProMedium', Arial, sans-serif;
	margin:12px 0 0;	
}
.sideright-nav li{
	height:37px;
	padding-left:22px;
}
.sideright-nav li a{
	color:#2977a5;
	text-decoration:none;
}
.sideright-nav li a:hover{	text-decoration:underline;}
.item1 {background:url(../img/star-sideright.png) 0 2px no-repeat;}
.item2 {background:url(../img/articles-sideright.png) 0 2px no-repeat;}
.item3 {background:url(../img/job-sideright.png) 2px 0 no-repeat;}

.calk {
	background:url(../img/nav-sideleft-hr.png) bottom no-repeat;
	padding-bottom:13px;
}
.calk .line1 {
	font:16px Calibri, Arial, Tahoma, Verdana, sans-serif;
	background:url(../img/line1-calk.png) 0 4px no-repeat;
	padding-left:28px;
	line-height:16px;
	margin-top:2px;
}
.calk .line2 {
	font:14px Calibri, Arial, Tahoma, Verdana, sans-serif;
	margin-top:-13px;
}
.calk a.sumbit {
	display:block;
	color:#429500;
	font:14px Calibri, Arial, Tahoma, Verdana, sans-serif;	
	background:url(../img/subm-clear.png) 0 0 no-repeat;
	padding-left:28px;
	margin-bottom:15px;
	margin-top:-6px;
}
.calk a.clear {
	display:block;
	color:#cc0402;
	font:14px Calibri, Arial, Tahoma, Verdana, sans-serif;	
	background:url(../img/subm-clear.png) 0 -17px no-repeat;
	padding-left:28px;
}
.news {
	margin:-8px 0 18px -2px;
}
.date {font: 12px Calibri, Arial, Tahoma, Verdana, sans-serif;margin-bottom:24px;}
.date a{font-size:14px;padding-top:2px;color:#2977a5;display:inline-block;}

.mini-nav {
	padding:0px 0 10px 0px;
	list-style-image:url(../img/mini-nav-arrow.png);
	list-style-position: inside;
	font:18px 'PFAgoraSansProMedium', Arial, sans-serif;
}
.mini-nav li{
	padding:7px 0 7px 5px;
	margin-left:4px;
	background:url(../img/nav-sideleft-hr.png) bottom left no-repeat;
}
.mini-nav > li.active{background:url(../img/mini-nav-active.png) left top no-repeat;margin-top:-1px;list-style-image:none;margin-left:-6px;padding-left:26px;}
.mini-nav > li.active a{color:#fff	;}
.mini-nav li a{
	color:#2977a5;
	text-decoration:none;
	width:100%;
	height:100%;
}
.mini-nav li.active:hover > a{text-decoration:none;}
.mini-nav li:hover > a{text-decoration:underline;}
/* Welcome
-----------------------------------------------------------------------------*/
.welcome {
	height:182px;
	background:#fff;
	position:relative;
	z-index:999;
	width:100%;
	margin-bottom:164px;
	margin-top:-105px;
	margin-left:-20px;
	padding:15px 20px 0 20px;
}
.shadow {
	position:absolute;
	height:18px;
	width:100%;
	bottom:-18px;
	background:url(../img/menu-shadow.png) top center no-repeat;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	margin: -108px auto 0;
	min-width: 940px;
	max-width: 1220px;
	height: 108px;
	background:url(../img/footer-hr.png) top center no-repeat;
	position: relative;
	padding:0 20px;
}
.hr {
	background:url(../img/footer-hr.png);
	height:1px;
}
#footer input[type=text] {
	float:right;
	border:0;
	padding:0;
	margin:0;
	width:184px;
	height:28px;
	padding-left:6px;
	font-family:Arial;
	font-size:12px;
	color:#cfcfcf;
	margin-top:18px;
	margin-right:6px;
	background:url(../img/findfield.png) 0 0 no-repeat;
}
.left {
	font:12px Arial,sans-serif;
	margin-top:23px;
	line-height:16px;
}
.left span{
	line-height:18px;
	padding-left:40px;
	color:#818181;
	font-style:italic;
}
.num1, .num2 {
	font: 20px Calibri, Arial, Tahoma, Verdana, sans-serif;
	position:absolute;
	left:49%;
	top:18px;	
}
.num1 {left:29%;}