/* Photo in job page */
.my-photo {
    float: right;
    margin: 0 0 1em .3em;
    border-radius: 3px;
}

#instantclick-bar { background: #008ACE }

.b-share {
    padding-left: 1px !important;
    margin-bottom: 1.5em !important;
}
.b-share a { border: 0; }