.ads { width: 728px; max-width: 100%; }
@media (max-width: 480px) {
	.ads { height: 100px; }
}

.ads-right {
	position: absolute;
	width: 300px;
	height: 250px;
	left: 756px;
	top: 0;

	@media (max-width: 1200px) {
		display: none;
	}
}
