/* Arrows */
.post-nav { position: relative; clear: both; }
.post-nav a {
    max-width: 46%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
