@charset "utf-8";

@import './vars';
@import './reset';
@import './document';
@import './links';

@import './site-main';
@import './site-header';
@import './site-navigation';
@import './site-footer';

@import './post';
@import './comments';
@import './typography';
@import './syntax';
@import './cards';
@import './button';

.mac-spacer {
  text-align: center;
  margin: $gap-sm 0;
}

p.email-subscribe {
  margin-bottom: $gap-sm;
}
