.blocks-wrapper {
    padding: $gap ;
    padding-left: 0;

    @media (max-width: $max-content-width) {
        padding: 0 $gap-sm;
    }
}

.cards {
    -webkit-column-width: 300px;
            column-width: 300px;

    -webkit-column-gap: $gap;

            column-gap: $gap;

    @media (max-width: $max-content-width) {
        -webkit-column-gap: $gap-sm;
                column-gap: $gap-sm;
    }

    .card {
        -webkit-column-break-inside: avoid;
                break-inside: avoid;
        margin-bottom: $gap;

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: $max-content-width) {
            margin-bottom: $gap-sm;
        }
    }

    &_suggestions {
        padding: $gap 0;

        @media (max-width: $max-website-width) {
            padding-right: $gap;
        }


        @media (max-width: $max-content-width) {
            padding: $gap-sm;
            padding-bottom: 0;
        }
    }
}

// .cards_suggestions .card { margin-bottom: 0; }

.card {
    background: $c-content;

    .padding {
        padding: $lh*0.8 $lh;
    }

    a {
        color: $c-text;
        display: block;
    }

    img {
        width: 100%;
        display: block;
    }

    .tags {
        margin-bottom: $lh/4;
        font-size: $fz-sm;

        span {
            &::after { content: ', ' }
            &:last-child::after { content: '' }
        }
    }

    .title {
        font-size: 3rem;
        line-height: 1.2;
        margin: 0;

        a {
            font-weight: inherit;
        }
    }

    .title + p {
        margin-top: $lh/2;
    }


    p {
        margin-bottom: 0;
        color: $c-gray;
        font-size: 1.5rem;
    }
}
