.text-content { position: relative }

hr {
	margin: 24px 0;
	padding: 0;
	border: 0;
	height: 1px;
	background: #bbb;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(0, 0, 0, .25)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0, 0, 0, .25) 50%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0, 0, 0, .25) 50%, rgba(255,255,255,1) 100%);
}

blockquote p { margin: 0; }
blockquote p + p { margin-top: 24px; }

mark {
	background: #f9f5e4;
	padding: .1em .2em;
}

figure * { max-width: 100% }

figure img,
figure iframe { display: block }
figure figcaption { margin: 6px 0 0; color: #999; font-size: 12px; line-height: 16px; }
figure a { display: inline-block; vertical-align: top; border: 0 }
