.content { padding: 0; max-width: 770px }

p { margin: 0 0 24px 0 }

pre,
blockquote {
	margin: 24px -24px;
	padding: 24px;
	background: #fff7dc;
	font-size: 16px;
}

pre,
code {
	overflow: auto;
	font-family: Fira Code, Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}
code {
	background: #fff7dc;
	border-radius: 3px;
	padding: 4px 4px 2px;
	line-height: 23px;
}
pre code { padding: 0 }

time {
	display: block;
	height: 24px;
}

figure {
	position: relative;
	display: block;
	text-align: left;
	margin: 0 0 24px;
	max-width: 100%;

	& > a { border: 0 }
}
figure span { display: none }
figure figcaption { margin: 6px 0 0; color: #999; font-size: 12px; line-height: 16px; }
