/* Document */
html, body {
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
    font-weight: 200;
    font: 18px/30px $font-text;
    color: $color-text;
    background-color: #141414;
    min-width: 320px;
}

/* Basic links */

a {
    text-decoration: none;
    border-bottom: 1px solid;
}

a{color:#3498DB}
a:hover{color:#C0392B}
a:visited{color:#9B59B6}
a:visited:hover{color:#C0392B}
a:focus{outline:none}
