@import 'variables';

* { box-sizing: border-box; }

html {
	-webkit-text-size-adjust: 100%;
	font-size: 28px;

	@media (max-width: 480px) {
		font-size: 24px;
	}

	font-variant-ligatures: contextual;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	margin: 0;
	font: .642857143rem/1.555555556 $serif;

	padding: 8%;
	padding: 8vh 8vw;

	@media (max-width: 480px) {
		padding: 5%;
		padding: 5vh 5vw;
	}

	font-weight: 400;
	color: $text-color;
	background: #f1f3f5;
}

.content {
	position: relative;
}
