.email-subscribe {
    padding: $gap-sm ($gap - 3px);
    padding-top: 0;
    margin-bottom: $gap;
    background: $c-content;

    @media (max-width: $max-content-width), (max-height: $hide-footer-height) {
        padding-top: $gap-sm;
        margin: $gap-sm;
    }
}
