input, button { font-family: inherit }

.footer {
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, .3);
    padding: 48px 24px 0 0;
    font-style: normal;
}

.footer .likely__widget {
    margin-left: 0!important;
    margin-right: 14px!important
}

.footer p { margin: 0 }
.footer a { opacity: .5 }
.footer .keywords { opacity: .25 }


// @media screen and (max-width:860px) {
//     .footer {
//         padding-top: 24px;
//     }
// }
