@media screen and (max-width:860px){
	h1{font-size:20px;line-height:36px}
	h2{font-size:18px;line-height:24px}
	h3{font-size:16px;}
	h4{font-size:14px;}
	h5{font-size:14px;}
	h6{font-size:14px;}
}
@media screen and (max-width:700px) {
	h1 {max-width: 80%; line-height: 24px}
}
@media screen and (max-width: 550px) {
	h1 {max-width: 90%}
}
