@import 'variables';

.vspace.vspace.vspace {
	min-height: 2rem;
	height: 10vmin;
	margin: 0;
}

.posts {
	list-style-type: none;
	padding: 0;
	margin: 0;

	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;

	-webkit-column-gap: 1.5rem;
	-moz-column-gap: 1.5rem;
	column-gap: 1.5rem;

	-webkit-column-width: 10rem;
	-moz-column-width: 10rem;
	column-width: 10rem;

	max-width: initial;

	.media-table {
		margin: 0;
	}

	&__title {
		margin: 0;
	}

	&__item {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;

		padding-bottom: 1rem;
		padding-top: .5rem;
		margin: 0;
		min-width: 10rem;
	}

	&__item-title {
		display: block;
		line-height: 1rem;
		padding-top: .25rem;
	}

	&__item-image {
		border: 1px solid rgba(0, 0, 0, .25);

		&.noborder {
			border: 0;
		}
	}

	&__time {
		margin: 0;
	}

	a {
		display: block;
	}
}

time {
	display: block;
	font-family: $sans;
	font-size: 15px;
	line-height: 1rem;
	font-style: italic;
	margin-top: .5rem;
}
