/* висячая пунктуация */
.l_elka,
.l_skobka {
    -webkit-transition: margin-left .2s;
    transition: margin-left .2s;
}
.elka,
.skobka {
    -webkit-transition: margin-right .2s;
    transition: margin-right .2s;
}

.typed {
    .l_elka { margin-left: -.66em }
    .elka { margin-right: .66em }

    .l_skobka { margin-left: -.35em }
    .skobka { margin-right: .35em }
}
