a {
    color: #008ACE;
    text-decoration: none;
    // border-bottom: 1px solid rgba(0, 138, 206, .5);
}
a:visited {
    color: #B40EB4;
    border-bottom-color: rgba(180, 14, 180, .5);
}

a:hover,
a:visited:hover {
    color: #CC0000;
    border-color: rgba(204, 0, 0, .5);
    -webkit-transition: 0s ease;
    transition: 0s ease;
}

a:hover,
a:visited:hover{-webkit-transition:0s ease;transition:0s ease}
