a:link {
	color: #008ACE;
	text-decoration: none;
}

a:visited {
	color: #B40EB4;
	border-bottom-color: rgba(180, 14, 180, .5);
}

a:link:hover,
a:visited:hover {
	color: #CC0000;
	-webkit-transition: 0s ease;
	transition: 0s ease;
	border-bottom-color: rgba(204, 0, 0, .5);
}

a:link:hover,
a:visited:hover{-webkit-transition:0s ease;transition:0s ease}
