a,a:visited{color:#0072ba;text-decoration:none;border-bottom:1px solid rgba(0,114,186,.5)}
a:hover,a:visited:hover{color:#d04000;border-color:rgba(208,64,0,.5);-webkit-transition:0s ease;transition:0s ease}
