.logo {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

.nav {
    height: 80px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);

    &__list {
        height: 100%;
        float: right;
        display: inline-block;
        vertical-align: top;
        list-style-type: none;
        padding: 0 2em;

        li {
            height: 100%;
            line-height: 80px;
            padding: 0 1em;
            display: inline-block;
            vertical-align: middle;
        }
    }

    form {
        display: none;
    }
}
