@import 'variables';

.next-prev {
	margin: 1.5rem 0 0;
	font-family: $sans;
	max-width: 100%;
	overflow: hidden;

	&__link {
		width: 50%;

		&_prev { float: left; text-align: left; padding-right: .5em; }
		&_next { float: right; text-align: right; padding-left: .5em; }
	}
}
