/* Posts list */
.posts {
    margin: 1em 0 0;
    padding: 1px 0 1px;
    list-style-type: none;
}
.posts li { position: relative; margin-bottom: 1.4em }
.posts li:last-child { margin-bottom: 0 }
.posts li:before {
    content: "—";
    white-space: nowrap;
    position: absolute;
    right: 100%;
    margin-right: .44em;
}
