.white-content {
  overflow: hidden;
  padding: $gap;
  border: 1px solid $c-card-border;
  background: $c-content;

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    padding: $gap-sm;
  }
}

.post-header {
  margin-bottom: $lh;
  font-weight: 300;

  &__info {
    display: block;
    margin-bottom: $lh/4;
    // line-height: $lh;
    color: $c-gray;
    font-size: $fz-sm;
  }
}
