.site-header {
  position: fixed;
  top: 0;
  left: 0;
  padding: $gap;
  width: $sidebar-width;

  @media (min-width: $max-website-width) {
    left: 50%;
    margin-left: $max-website-width / 2 * -1;
  }

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    position: static;
    margin-left: initial;
    padding: $gap-sm;
    width: auto;
    text-align: center;

    br {
      display: none;
    }
  }

  &__title {
    padding-right: $lh * 1.5;
    color: $c-text;
    letter-spacing: -0.04em;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 1.2;

    @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
      padding-right: 0;
    }
  }

  &__description {
    margin-top: 5px;
    margin-bottom: 0;
    color: $c-gray;
    font-weight: 400;
    font-weight: 300;
    font-size: $fz-sm;
  }
}
