.site-navigation {
  margin-top: $lh * 2;

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    margin-top: $lh / 2;
  }

  &__item {
    display: block;
    padding: 4px 0;
    color: $c-gray-link;
    font-weight: 300;
    font-size: 16px;

    @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
      display: inline-block;
      padding: 4px;
      vertical-align: top;
    }
  }
}

b.site-navigation__item {
  color: #000;
  font-weight: 500;
}
