.site-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: $sidebar-width;
    padding: $gap;
    // padding-left: 0;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    @media (max-width: $max-content-width), (max-height: $hide-footer-height) {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: static;
        width: auto;
        padding: $gap-sm;
        text-align: center;
    }

    @media (min-width: $max-website-width) {
        left: 50%;
        margin-left: $max-website-width / 2 * -1;
    }

    &__link {
        display: inline-block;
        vertical-align: top;
        padding-right: 14px;

        @media (max-width: $bp-mobile) {
            padding: 0 7px;
        }
    }

    &__icon {
        display: block;
        height: 20px;
    }
}
