.site-header {
    position: fixed;
    left: 0;
    top: 0;
    width: $sidebar-width;
    padding: $gap;

    @media (min-width: $max-website-width) {
        left: 50%;
        margin-left: $max-website-width / 2 * -1;
    }

    @media (max-width: $max-content-width), (max-height: $hide-footer-height) {
        position: static;
        width: auto;
        padding: $gap-sm;
        text-align: center;
        margin-left: initial;

        br {
            display: none;
        }
    }

    &__title {
        padding-right: $lh * 1.5;
        letter-spacing: -0.04em;
        color: $c-text;
        line-height: 1.2;
        font-size: 3.6rem;
        font-weight: bold;

        @media (max-width: $max-content-width), (max-height: $hide-footer-height) {
            padding-right: 0;
        }
    }

    &__description {
        margin-top: 5px;
        font-weight: 400;
        margin-bottom: 0;
        color: $c-gray;
        font-size: $fz-sm;
        font-weight: 300;
    }
}
