@import 'variables';

.top-panel {
	&__home-text {
		font-family: $sans;
	}

	& &__home-link {
		display: inline;
		color: $text-color;
	}

	&__lead {
		// font-size: 1.2em;
		margin: 0 0 1rem 0;
	}
}

.top-panel_size_small {
	font-size: .571428571rem; // 16px
	line-height: .857142857rem; // 24px

	.top-panel {
		&__home-text {
			font-size: .714285714rem; // 20px
			line-height: 1rem;
			font-weight: 700;
		}
		&__lead {
			margin-bottom: .5rem
		}
	}

	.top-menu {
		line-height: 1rem;
	}
}

.top-menu {
	font-family: $sans;
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline;
		vertical-align: top;
		margin: 0;
		line-height: 1em;
	}

	li + li {
		margin-left: .5em;
	}

	strong {
		font-weight: 600;
	}
}
