.page-content {

    h2, h3, h4 { /* text-transform: uppercase; */ }

    h2 { font-size: 1.25em; }

    h3 { color: #666; text-transform: uppercase; }


    p {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      word-wrap: break-word;
    }

    /**
     *
     * =======================================================================
       Paragraphs and Indentation
     * =======================================================================
     */


    /* p + p {
      margin-top: -15px; no top margin on subsequent paragraphs
    } */

    pre code {
      word-wrap: normal;
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
    }

    code {
      white-space: nowrap;
      font-family: monospace;
    }
}

#posts-list h3 {
    text-transform: none;
    color: inherit;
}
