.page-content {

    h2, h3, h4 { /* text-transform: uppercase; */ }

    h2 { font-size: 1.25em; }

    h3 { color: #666; text-transform: uppercase; }

    .typl8-drop-cap:first-letter {
      float: left;
      margin: 10px 10px 0 0;
      padding: 0 20px;
      font-size: 4em;
      font-family: inherit;
      line-height: 1;
      text-indent: 0;
      background: transparent;
      color: inherit;
    }

    p + .typl8-drop-cap {
      text-indent: 0;
      margin-top: 0;
    }

    p {
      -webkit-hyphens: auto;
      -moz-hyphens: auto;
      -ms-hyphens: auto;
      hyphens: auto;
      word-wrap: break-word;
    }

    /**
     *
     * =======================================================================
       Paragraphs and Indentation
     * =======================================================================
     */


    p + p {
      text-indent: 1.5em; /* indent subsequent paragraphs */
      margin-top: -1.5em; /* no top margin on subsequent paragraphs */
    }

    pre code {
      word-wrap: normal;
      white-space: -moz-pre-wrap;
      white-space: pre-wrap;
    }

    code {
      white-space: nowrap;
      font-family: monospace;
    }
}

#posts-list h3 {
    text-transform: none;
    color: inherit;
}
