// .message {
// 	background: #fff100;
// 	color: #000;
// 	border-radius: 3px;
// 	padding: .5em 1em !important;
// 	margin: -1em 0 1em !important;
// }
#disqus_thread {
	margin: .5em -2em -1em;
	margin-top: .5em !important;
	padding: 1em;
	background: $bg-color;
	border-radius: 3px;

	iframe {
		margin: 0 auto;
	}
}

img.rounded { border-radius: 6px; }
img.noshadow { box-shadow: none !important; }
img.inline { display: inline-block; vertical-align: middle; margin: 0; }

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.clear { clear: both; }

img.fl-left { margin-right: 1em; }
img.fl-right { margin-left: 1em; }

iframe {
	margin: 1em auto;
	display: block;
	max-width: 100%;
}

/* Висячая пунктуация © Студия Артемия Лебедева */
.slaquo {margin-left: .48em}
.hlaquo {margin-left: -.48em}
.sbrace {margin-left: .3em}
.hbrace {margin-left: -.3em}

/* Код */
code, kbd, pre, samp {
	font-family: $code-font;
	font-size: 1em
}

code {
	font-weight: normal;
	padding: .1em .3em;
	background: $gray-color;
	border-radius: 3px;
}

pre code {
	font-weight: inherit;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
