// .message {
// 	background: #fff100;
// 	color: #000;
// 	border-radius: 3px;
// 	padding: .5em 1em !important;
// 	margin: -1em 0 1em !important;
// }
#disqus_thread {
	margin: .5em -1em -1em;
	margin-top: .5em !important;
	padding: .3em 1em;
	background: $bg-color;
	border-radius: 3px;

	iframe {
		margin: 0 auto;
	}
}

.styled { list-style-type: none; padding-left: 0; }
.styled > li { position: relative; padding-left: 40px; }
.styled > li:before {
	position: absolute;
	top: 0;
	left: 10px;
	font-size: 1.5em;
	line-height: .8;
	content: '■';
	color: #fff000;
}

img { box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1) }
img.rounded { border-radius: 6px; }
img.noshadow { box-shadow: none !important; }
img.inline { display: inline-block; vertical-align: middle; margin: 0; }
img.bordered { border: 1px solid rgba(0, 0, 0, .2); position: relative; top: -1px; left: -1px; }
img.inline { display: inline; }

.media-title {
	text-align: center;
	margin: -1em auto 1.5em;
	font-size: .75em;
	color: rgba(0, 0, 0, .5);
}

.fl-left {
	float: left;
}

.fl-right {
	float: right;
}

.clear { clear: both; }

img.fl-left { margin-right: 1em; }
img.fl-right { margin-left: 1em; }

iframe {
	margin: 1em auto;
	display: block;
	max-width: 100%;
}

.post iframe { background: #eee; }

/* Висячая пунктуация © Студия Артемия Лебедева */
.slaquo {margin-left: .48em}
.hlaquo {margin-left: -.48em}
.sbrace {margin-left: .3em}
.hbrace {margin-left: -.3em}

/* Код */
code, kbd, pre, samp {
	font-family: $code-font;
	font-size: 1em
}

code {
	font-weight: normal;
	background: $gray-color;
	border-radius: 3px;
}

pre code {
	font-weight: inherit;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}
