img {
	max-width: 100%;
	display: block;
	margin: 1em auto;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2)
}
img.noshadow { box-shadow: none !important; }
img.inline { display: inline-block; vertical-align: middle; margin: 0; }

iframe {
	margin: 1em auto;
	display: block;
	max-width: 100%;
}

/* Висячая пунктуация © Студия Артемия Лебедева */
.slaquo {margin-left: .48em}
.hlaquo {margin-left: -.48em}
.sbrace {margin-left: .3em}
.hbrace {margin-left: -.3em}

/* Код */
pre { overflow: auto }

code, kbd, pre, samp {
	font-family: $code-font;
	font-size: 1em
}

code {
	font-weight: normal;
	padding: .1em .3em;
	background: $gray-color;
	border-radius: 3px;
}

pre code {
	font-weight: inherit;
	padding: 0;
	background-color: transparent;
	border-radius: 0;
}