.typo {
    & > *:last-child {
        margin-bottom: 0;
    }

    iframe {
        max-width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    ul,
    ol,
    table,
    figure,
    pre,
    blockquote,
    dd,
    .highlighter-rouge {
        margin-bottom: $lh;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1.2;
        margin-top: $lh*2;
    }

    h1 {
        margin-top: 0;
        font-size: 4.4rem;
    }

    h2 {
        font-size: 4.2rem;
    }

    h3 {
        font-size: 1.563em;
    }

    h4 {
        font-size: 1.25em;
    }

    pre {
        overflow: auto;
        max-width: 100%;
    }

    table {
        border-collapse: collapse;
    }

    td,
    th {
        border: 1px solid $c-media-border;
        padding: $lh / 2;
    }

    figcaption {
        padding-top: $lh / 4;
        font-size: $fz-sm;
        color: $c-gray;
    }

    ul,
    ol {
        padding-left: $lh;

        ul, ol {
            margin-top: $lh/2;
            margin-bottom: $lh/2;
        }
    }

    li > * + * {
        margin-top: $lh/2;
    }

    li + li {
        margin-top: $lh / 4;
    }

    blockquote {
        border-left: 4px solid $c-brand;
        padding: $lh/4 $lh/2;
        padding-left: $lh;
        color: $c-gray;

        p { margin: 0; }
        p + p { margin-top: $lh; }
    }

    pre, code {
        font-family: $ff-code;
    }

    pre {
        // background: #282C34;
        // color: #fff;
        border-radius: 5px;
        padding: $lh/2 $lh;
    }

    hr {
        border: 0;
        margin: $gap 0;
        padding: 0;

        &::after {
            display: block;
            content: '⌘ \00a0⌘ \00a0⌘';
            text-align: center;
        }
    }

    dd {
        padding-left: $gap;
    }
}
