$default: Helvetica, Arial, sans-serif;
$mono: 'Fira Code', "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", Menlo, monospace;
$sans: system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
$serif: system, -apple-system, BlinkMacSystemFont, ".SFNSDisplay-Regular", "Helvetica Neue", "Lucida Grande";
$text-color: #262626;
$text-max-width: 660px;
$headers-max-width: 600px;

$gray-border: #e6e1dc;
