$default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$sans: 'Proxima Nova', $default;
$serif: 'Proxima Nova', $default;
$mono: 'Fira Code', Consolas, monaco, monospace;

$text-color: #262626;
$text-max-width: 660px;
$headers-max-width: 600px;
