$default: Helvetica, Arial, sans-serif;
$mono: 'Fira Code', "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
$sans: $mono;
$serif: $mono;
$text-color: #262626;
$text-max-width: 660px;
$headers-max-width: 600px;

$gray-border: #e6e1dc;
