$ff-code: 'Fira Code', Menlo, Monaco, 'Courier New', monospace;
$ff-base: system, -apple-system, BlinkMacSystemFont, '.SFNSDisplay-Regular',
  'Roboto', sans-serif;

$fz-xsm: 12px;
$fz-sm: 14px;
$fz-md: 18px;

$lh: 30px;

$c-brand: #0c00ff;
$c-text: #000;
$c-gray-link: #7f7f7f;
$c-gray: #a1a1a1;
$c-media-border: #ccc;
$c-card-border: rgba(0, 0, 0, 0.1);

$c-bg: #f5f5f5;
$c-content: #fff;

$max-website-width: 988px;
$max-content-width: 800px;
$sidebar-width: 260px;
$hide-footer-height: 470px;

$bp-mobile: '768px';
$bp-vertical: '520px';

$gap: 45px;
$gap-sm: 30px;
$gap-xsm: 15px;
