@import 'variables';

input, button {
	font-family: inherit;
	vertical-align: middle;
}

.footer {
	position: relative;
	font-style: normal;
}

.footer p { margin: 0 }

.tags {
	font-size: 12px;
	color: rgba(153, 174, 184, 0.6);
	position: absolute;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
