/* code box */
pre,
code {
	white-space: pre-wrap;
	font-family: Fira Code, Inconsolata, Monaco, Consolas, 'Courier New', Courier;
	font-variant-ligatures: contextual;
	text-rendering: optimizeLegibility;
}

pre {
	padding: 24px 0;
	margin: 0 0 24px 0;
}

code {
	background: #ecf2f8;
	border-radius: 3px;
	padding: 4px 4px 2px;
	line-height: 23px;
}
pre code { padding: 0; }


.highlighter-rouge { position: relative; }
.highlighter-rouge pre { background: #ecf2f8 }
div.highlighter-rouge:before,
div.highlighter-rouge:after {
	z-index: -1;
	background-color: #ecf2f8;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	width: 1000%;
}

.highlighter-rouge:after { left: 100%; }
.highlighter-rouge:before { right: 100%; }
