* { box-sizing: border-box; }
html, body { overflow-x: hidden; }

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body {
	margin: 0;
	font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	padding: 72px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	transition: padding .3s ease-out;
}

@media screen and (max-width:990px) {
	body { padding: 48px }
}

@media screen and (max-width:700px) {
	body { padding: 24px }
}

p { margin: 0 0 24px 0 }
