figure { display: block; text-align: left; margin: 0 0 24px; }
figure img,
figure iframe { display: block; }
figure figcaption { margin: 12px 0; color: #AAA; }
figure a { display: inline-block; vertical-align: top; border: 0}
