/* links */

a {
	color:#70B7FD;
	text-decoration: none;
	border-bottom: 1px solid;
}

a:link { border-color: #b2ccf0 }

a:visited {
	color:#B40EB4;
	border-color: #e0b2e0;
}

a:hover {
	color:#FD6C6C;
	border-color: #f0b2b2 !important;
}
a:visited:hover{ color:#FD6C6C }
.dotted { border-bottom-style: dotted }
