ul, ol {
	margin: 0 0 24px 0;
	padding: 0;
	list-style-position: inside;
}
ul ul,
ul ol,
ol ul {
	margin-left: 24px;
}

ol li {
	list-style: decimal inside none;
	margin: 0;
}

p + ol,
p + ul {
	margin-top: -12px;
}

/*li + li { margin-top: 6px; }*/
