img, iframe { max-width: 100%; vertical-align: top; }
img,
iframe {
	outline: 1px solid #ccc;
	background: #fff;
}
img { height: auto !important; }
.emoji {
	outline: none;
	max-height: 18px;
	vertical-align: -3px;
}

.adsbygoogle { max-width: 728px; margin: 24px 0; height: auto !important; }
.adsbygoogle iframe { outline: none; }
