img, iframe { max-width: 100%; vertical-align: top; }

figure { display: inline-block; vertical-align: top; text-align: left; margin-top: -1px }
figure img,
figure iframe { margin: 0; }
figure figcaption { margin-top: .8em; opacity: .25; }

img,
iframe {
	border: 1px solid #ccc;
	background: #fff;
}

img { height: auto !important; }

figure {
	width: 100%;
}
