img, iframe { max-width: 100%; vertical-align: top; }
img,
iframe {
	border: 1px solid #ccc;
	background: #fff;
}
img { height: auto !important; }
.emoji {
	border: 0;
	max-height: 18px;
	vertical-align: -3px;
}

.adsbygoogle { max-width: 728px; }
.adsbygoogle iframe { border: 0; margin-top: 24px; }
