.projects { padding: 72px 0 0 0; }
.projects h2 {margin-top: 0; }

@media screen and (max-width:990px) {
	.projects { padding: 72px 130px 0 0; }
}

@media screen and (max-width:860px) {
	.projects { padding: 48px 40px 0 0; }
}

@media screen and (max-width:700px) {
	.projects { padding: 24px 0 0 }
}

.projects>.history {
	display: block;
	padding: 12px 0 0;
}

.projects>.history .landmark {
	padding: 0 0 12px;
	margin: 0 24px 12px 0;
	display: inline-block;
	vertical-align: top;
	width: 220px
}

.projects>.history .date {
	letter-spacing: 1px;
	font-size: 10px;
	padding-top: 8px;
	line-height: 16px;
	color: rgba(0, 0, 0, .5);
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased
}
