{% assign count = 1 %}

{% assign tags_list = page.tags | sort %}
{% assign max_count = site.related_posts_max %}

{% assign cached = "" %}

{% capture related_posts %}
{% for post in site.posts %}
{% assign index_post = forloop.index %}
{% assign post_tags = post.tags | sort %}
   {% if count <= max_count %}
     {% if tags_list == post_tags %}
       {% if post.title != page.title %}
           <li>
               <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                   <a class="entry-title" rel="bookmark" href="{{ post.url }}/">
                       <h3 itemprop="headline">
                           {{ post.title }}
                           &nbsp; <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }}&nbsp;{% include month.html %}&nbsp;{{ post.date | date: "%-Y"}}</abbr>
                       </h3>
                   </a>

                   <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>

                   <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
               </article>
           </li>
       {% assign count = count | plus:'1' %}
       {% endif %}
     {% else %}

      {% for cat in post_tags %}
      {% for dog in tags_list %}
        {% if cat == dog %}
			{% unless cached contains post.url %}
                <li>
                    <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                        <a class="entry-title" rel="bookmark" href="{{ post.url }}/">
                            <h3 itemprop="headline">
                                {{ post.title }}
                                &nbsp; <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }}&nbsp;{% include month.html %}&nbsp;{{ post.date | date: "%-Y"}}</abbr>
                            </h3>
                        </a>

                        <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>

                        <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
                    </article>
                </li>
				{% assign count = count | plus:'1' %}
			{% endunless %}

			{% capture cached %}
				{{ cached | append: post.url }}
			{% endcapture %}
        {% endif %}
      {% endfor %}
      {% endfor %}

     {% endif %}
   {% endif %}
{% endfor %}
{% endcapture %}

<div>
    {% if count == 1 %}
        <h4 class="featured">Последние записи</h4>
        <ul class="posts-list hfeed" style="margin-top:0">
            {% for post in site.related_posts limit:5 %}
                <li>
                    <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                        <a class="entry-title" rel="bookmark" href="{{ post.url }}/">
                            <h3 itemprop="headline">
                                {{ post.title }}
                                &nbsp; <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }}&nbsp;{% include month.html %}&nbsp;{{ post.date | date: "%-Y"}}</abbr>
                            </h3>
                        </a>

                        <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>

                        <noindex><address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address></noindex>
                    </article>
            {% endfor %}
        </ul>
    {% else %}
        <h4 class="featured">Похожие записи</h4>
        <ul class="posts-list hfeed" style="margin-top:0">
            {{ related_posts }}
        </ul>
    {% endif %}
</div>
