<footer class="footer" role="contentinfo">
    <div class="wrapper">

        <p class="footer__copy"><a href="mailto:ymatuhin@yandex.ru" rel="nofollow">ymatuhin@yandex.ru</a></p>

        <ul class="footer__social">
            <li><a href="//vk.com/ymatuhin" rel="nofollow">Вконтакте</a>
            <li><a href="//facebook.com/ym.ymatuhin" rel="nofollow">Фейсбук</a>
            <li><a href="//twitter.com/ymatuhin" rel="nofollow">@ymatuhin</a>
            <li><a href="//github.com/ymatuhin" rel="nofollow">GitHub</a>
            <li><a href="//ru.linkedin.com/in/ymatuhin" rel="nofollow">LinkedIn</a>
        </ul>

    </div>
</footer>
