<section class="header-box">
	<div class="wrapper clearfix">
		<header class="header">
			<a href="/" role="banner" class="header__link">
				<h4 class="header__title">Юрий Матюхин</h4>
				<h5 class="header__sub-title">Front end разработчик</h5>
			</a>
		</header>

		<nav class="main-nav" role="navigation">
			{% if page.url == '/index.html' or page.url == '/' %}
				<a class="btn active">Блог</a><!--
			{% elsif page.url contains '/blog/' %}
				<a class="btn active" href="/">Блог</a><!--
			{% else %}
				<a class="btn" href="/">Блог</a><!--
			{% endif %}

			{% if page.url == '/projects/' %}
		--><a class="btn active">Мои проекты</a><!--
			{% else %}
		--><a class="btn" href="/projects/">Мои проекты</a><!--
			{% endif %}

			{% if page.url == '/about/' %}
		--><a class="btn active">Обо мне</a>
			{% else %}
		--><a class="btn" href="/about/">Обо мне</a>
			{% endif %}
		</nav>
	</div>

	<div class="search-box wrapper">
		<form action="http://www.google.com/search" class="search">
			<input type="hidden" name="as_sitesearch" value="ymatuhin.ru ">
			<input type="search" class="search__field" name="q" value="" placeholder="Поиск ..."><!--
		 --><button class="search__find" name="button">Найти</button>
		</form>
	</div>
</section>
