<link rel="stylesheet" type="text/css" href="/css/secondary.css">

<script>
    function importScript (sSrc, fOnload) {
        var oScript = document.createElement("script");
        oScript.type = "text\/javascript";
        if (fOnload) { oScript.onload = fOnload; }
        document.getElementsByTagName("head")[0].appendChild(oScript);
        oScript.src = sSrc;
    }


    window.onload = function () {
        importScript('//twemoji.maxcdn.com/twemoji.min.js', function () {
            twemoji.parse(document.body);
        });
        importScript('https://mc.yandex.ru/metrika/watch.js', function () {
            try {
                var yaCounter28017147 = new Ya.Metrika({id:28017147, clickmap:true, trackLinks:true, accurateTrackBounce:true });
            } catch(e) {}
        });

        if (document.getElementById('disqus_thread')) {
            importScript('//ymatuhin.disqus.com/embed.js');
        }
    }
</script>

<!-- Yandex.Metrika counter -->
<noscript><div><img src="https://mc.yandex.ru/watch/28017147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
