{% capture page_title %}{% if page.title %}{{ page.title | replace: ' ', ' ' }} — {{ site.title }}{% else %}{{ site.title | replace: ' ', ' ' }}{% endif %}{% endcapture %}

{% capture page_url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}

{% capture page_description %}{% if page.description %}{{ page.description | replace: ' ', ' ' }}{% else %}{{ page.excerpt |  strip_html | replace: ' ', ' ' | strip_newlines | truncate: 160 }}{% endif %}{% endcapture %}

<noindex>
    <span class="section-subtitle">
        Или поделись записью
        <a href="http://vk.com/share.php?url={{ page_url | append:' ' | uri_escape }}/&amp;title={{ page_title | append:' ' | uri_escape }}&amp;description={{ page_description | append:' ' | uri_escape }}&amp;image={{ post.image | append:' ' | uri_escape }}" target="_blank">вконтакте</a>,
        <a href="https://twitter.com/home?status={{ page_title | append:' ' | uri_escape }} — {{ page_url | append:' ' | uri_escape }}" target="_blank">твиттере</a>,
        <a href="https://www.facebook.com/share.php?u={{ page_url | append:' ' | uri_escape }}/&amp;title={{ page_title | append:' ' | uri_escape }}&amp;p[images][0]={{ post.image | append:' ' | uri_escape }}" target="_blank">фейсбуке</a> и
        <a href="https://plus.google.com/share?url={{ page_url | append:' ' | uri_escape }}" target="_blank">гугл+</a>.
    </span>
</noindex>
