<!-- <div class="thanks">
	<div class="share42init" data-path="/js/"></div>

	{% if page.date %}
		<em>{{ page.date | date: "%b %-d, %Y" }}</em>
		<br>
	{% endif %}

	<em>Подпишитесь на <a href="http://eepurl.com/bkY7hb">еженедельную рассылку</a> новых записей или <a href="http://feeds.feedburner.com/ymatuhin/SHDd">RSS ленту</a>.</em>
	<br>

	{% if page.url == '/' %}
		<em>С наилучшими пожеланиями из Брянска, {{ site.title }}.</em>
		<small><div><a href="http://blackjackonline.webeden.co.uk/" target="_blank">Online Blackjack at Webeden.co.uk.</a></div></small>
	{% else %}
		<em>С наилучшими пожеланиями из Брянска, <a href="/">{{ site.title }}</a>.</em>
	{% endif %}
</div>
 -->
