html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 14px/18px Calibri, Tahoma, Verdana, sans-serif;
	width: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:focus{ outline: none; }
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 960px;
	margin: 0 auto;
}

#vk_like {
	text-align:center;
	margin-top:20px;
	margin-left:60px;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	overflow:hidden;
}

.logo {
	margin:58px 0 0 20px;
	letter-spacing:-1px;
	font-size:46px;
	float:left;
}
.top-menu {
	margin:65px -20px 0 16px;
	font-size:28px;
	font-style:italic;
	float:left;
}
.top-menu li a{
	color:#00ade1;
	text-decoration:none;
	letter-spacing:-1px;
}
.top-menu li a:hover{color:#888;}
.top-menu li{
	float:left;
	margin:0 18px;
}
.shop {
	width:200px;
	height:64px;
	background:url(../img/shop.png) 0 0 no-repeat;
	float:right;
	margin:40px 10px 0 0;
}
#intro {
	width:940px;
	height:170px;
	float:left;
	margin:15px 10px;
	clear:both;
	background: url(../img/intro.jpg);
}
.inner .main-menu {
	margin-top:38px;
}
.main-menu {
	clear:both;
	float:left;
	color:#888;
	margin:8px 0 0 14px;
}
.main-menu li{
	float:left;
}
.main-menu li a:hover{color:#00ade1;}
.main-menu li a{
	float:left;
	display:block;
	text-decoration:none;
	margin:0 6.5px;
	color:#888;	
}
.clear {
	clear:both	;
}
.hbox {
	float:left;
	width:300px;
	height:170px;
	margin:20px 9px 0;
	border:1px solid #e5e5e5;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	behavior: url(PIE.php);
}
.add {
	border:1px solid #e5e5e5;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	behavior: url(PIE.php);
	width:300px;
	overflow:hidden;
	margin-top:25px;
}
.add .dop {
	margin-top:7px;
	font-size:20px;
	color:#00ade1;
	text-align:center;
}
.add .tovar {
	width:265px;
}

.add .tovar img{margin-left:30px;margin-top:16px;}
.add .tovar .name{
	width:260px;
	text-align:center;
}
.add .tovar .in{
	display:block;
	margin-bottom:25px;
}
.hbox .title{
	display:block;
	float:left;
	color:#00ade1;
	font-size:24px;
	margin:10px 0 0 10px;
	text-decoration:none;
}
.hbox .title:hover{color:#888;}
.hbox img{
	float:left;
	margin:19px 0 0 10px;
}
.hbox .descr{
	float:left;
	width:175px;
	margin:10px 0 0 17px;
	line-height:17px;
	color:#888;	
}
#t {
	clear:both;
	display:block;
	float:left;
	font: 20px/18px Calibri, Tahoma, Verdana, sans-serif !important;
	color:#000 !important;
	font-weight:bold !important;
}
b {color:#000 !important;}
/* Middle
-----------------------------------------------------------------------------*/
#content {
	padding-top:15px;
}

h2 {color:#888;margin:0 0 29px 20px;}
h2 a{color:#888;text-decoration:none;}h2 a:hover{color:#00ade1;}
h2 span {font-size:24px;color:#000;}
h3 {
	font-size:46px;
	margin:60px 0 34px 18px;
	letter-spacing:-0.8px;
}
.line {
	overflow:hidden;
	margin-bottom:30px;
}
.tovar {
	float:left;
	text-align:center;
	padding:0 10px;
	margin:0 12px;
}
.tovar img{
	float:left;
	margin-bottom:8px;
}
.tovar a.name{
	display:block;
	width:180px;
	clear:both;
	color:#00ade1;
	font-size:20px;
	text-decoration:none;
	line-height:24px;
	margin-bottom:10px;
}
.tovar a.name:hover{color:#888;}
.tovar a.in:hover{color:#00ade1;}
.tovar p s{
	font-size:20px;
}
.tovar p{
	font-size:24px;
	color:#444444;
}
.tovar a.in{
	color:#888;
}

.leftbox {
	float:left;
	margin:0 20px;
	width:610px;
}
.rightbox {
	float:left;
	width:300px;
}
#thumbs {margin-bottom:30px;}
#thumbs img:first-child {margin:0;}
#thumbs img {
	margin:20px 0 0 24px;
	cursor:pointer;
}
.leftbox p.title {
	color:#00ade1;
	font-size:24px;	
	margin:40px 0 20px;
}
.leftbox p {color:#888;}

.rightbox .price{
	font-size:46px;
	color:#000;
	margin:40px 0 0 20px;
}
.rightbox .price span{
	text-decoration:underline;
	position:relative;
	top:5px;
}

.rightbox .price s{
	font-weight:normal;
	position:relative;
	top:2px;
	left:7px;
	font-size:24px;
	color:#888;
}
.rightbox .color {
	text-align:center;
	color:#888;
	margin-top:55px;
}
.buttons {
	margin-top:-10px;
}
.buttons li{
	margin:10px 0;
}
.buttons li a{
	display:block;
	width:270px;
	height:50px;
	background:green url(../img/buttons.png) 0 0 no-repeat;
	color:#fff;
	text-decoration:none;
	font-size:24px;
	line-height:50px;
	padding-left:30px;
	
}
.buttons li a.green{background:#24da5c url(../img/buttons.png) 0 0 no-repeat;}
.buttons li a.pink{background:#fd6694 url(../img/buttons.png) 0 0 no-repeat;}
.buttons li a.red{background:#ff0a0a url(../img/buttons.png) 0 0 no-repeat;}
.buttons li a.violet{background:#e100de url(../img/buttons.png) 0 0 no-repeat;}

.buttons li a:hover{
	background-position:0 -100px;
}
.other {
	display:block;
	margin-top:30px;
	color:#888;
	font-size:20px;
	text-align:center;
	text-decoration:none;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	position:relative;
	top:10px;	
	height: 130px;
}
#footer .main-menu{
	margin:15px 0 15px 15px;
}
#footer .main-menu li{
	color:#888;
}
.menu-line {
	width:940px;
	margin:0 10px;
	height:1px;
	background:#ededed;
	clear:both;
}
#footer p{
	color:#888;
	position:absolute;
	top:87px;
	font-size:14px;
}
p.tel{left:20px;}
p.mail{left:386px;}
p.copy{left:795px;}