.ratio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #f6f6f6;
}
.ratio span {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 24px;
    transform: translate(-50%, -50%);
    color: #999;
}

.ratio2\/1 { padding-top: 50% }
.ratio3\/1 { padding-top: 33.3333333% }
.ratio img {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}

:-moz-broken { outline: solid red }
:-moz-broken:after { content: " (broken image)" }
