<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% include head/variables.html %}

	<title>{{ page_title }}</title>
	<meta name="description" content="{{ page_description }}">

	<script>
		if (window.location.protocol != "https:" && location.hostname != 'localhost')
			window.location.href = "https:" + window.location.href.substring(window.location.protocol.length);
	</script>

	{% include head/meta_lang.html %}
	{% include head/meta_rss.html %}
	{% include head/meta_twitter.html %}
	{% include head/meta_open_graph.html %}
	{% include head/meta_icon.html %}
	{% include head/meta_prefetch.html %}

	<style>
		{% capture include_to_scssify %}{% include all.scss %}{% endcapture %}
		{{ include_to_scssify | scssify }}
	</style>

	<meta name="google-site-verification" content="HxrscLt9ojX9QB8Aotk9kn7os4j0SDGulJ7U4z4aYwQ">
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
