@charset "UTF-8";
/**
*	O
*	 \ HOLMES
*
*	------------------------
*
*	Holmes - отдельная таблица стилей CSS для диагностики, которая выделяет 
*	потенциально ошибочную разметку HTML(5)
*
*	@author 		Luke Williams
*	@contributors	Anthony Mann (hover based debug info)
*	@author_url		http://www.red-root.com
*	@project_url	http://github.com/redroot/holmes/
*	@version		1.0.1 (25/04/2011)
*
*	@copyright 		Copyright Luke Williams 2011-
*
*	------------------------
*
*	Как использовать?
*
*	Добавляем класс 'holmes-debug' к любому элементу, в идеале к тегу body или html,
*	классы для отладки будут исопльзоваться для вложенных элементов. 
*
*	например: 
*	<body class="holmes-debug">
*
*	------------------------
*
*	Цвета отладки
*
*	- КРАСНЫЙ		отмечает ошибки, неправильную разметку или пропущенный атрибут
*	- ЖЕДТЫЙ 		отмечает предупреждения, потенциально ошибочную разметку или неправильное использование
*	- ТЕМНО-СЕРЫЙ	отмечает устаревший элемент или элемент с атрибутами, которые устарели или не являются W3C
*

*/
/* ====================================================== */
/* = ВЫДЕЛЕНИЕ / ОБВОДКА ================================ */
/* ====================================================== */


/**************
	ССЫЛКИ 
**************/

/* Ошибки */

.holmes-debug a:not([href]),
.holmes-debug a[href=""] {
	outline: 2px solid red;
}

.holmes-debug a[href="#"],
.holmes-debug a[href^="javascript"],
.holmes-debug a:not([title]),
.holmes-debug a[title=""]{
	outline: 2px solid #fd0;
}



/******************
	ИЗОБРАЖЕНИЯ 
******************/

.holmes-debug img:not([alt]),
.holmes-debug img[alt=""] {
	outline: 2px solid red;
}
/**************
	АТРИБУТЫ
***************/

.holmes-debug label:not([for]),
.holmes-debug label[for=""],

.holmes-debug input:not([name]),
.holmes-debug input[name=""],

.holmes-debug select:not([name]),
.holmes-debug select[name=""],

.holmes-debug textarea:not([name]),
.holmes-debug textarea[name=""],

.holmes-debug abbr:not([title]),
.holmes-debug abbr[title=""],

.holmes-debug [class=""],
.holmes-debug [id=""],

.holmes-debug table:not([summary]),
.holmes-debug table[summary=""]{
	outline: 2px solid red;
}

.holmes-debug [style]/*,
.holmes-debug [onclick],
.holmes-debug [onblur],
.holmes-debug [onfocus],
.holmes-debug [onselect],
.holmes-debug [onload],
.holmes-debug [onunload]
 */{ 
	outline: 2px solid #fd0;
 }

/*************************************************************************
	УСТАРЕВШИЕ И НЕ ЯВЛЯЮЩИЕСЯ W3C ЭЛЕМЕНТЫ КОНТЕНТА (ТЕМНО-СЕРЫЙ ЦВЕТ)
	За основу взят документ http://www.w3.org/TR/html5/obsolete.html#obsolete
*************************************************************************/

.holmes-debug applet, 
.holmes-debug acronym, 
.holmes-debug center, 
.holmes-debug dir, 
.holmes-debug font,   
.holmes-debug strike, 
.holmes-debug u, 
.holmes-debug big,
.holmes-debug tt,
.holmes-debug marquee,
.holmes-debug plaintext,  
.holmes-debug xmp {
	border: 2px solid darkgrey;
}

body.holmes-debug[bgproperties], 
body.holmes-debug[topmargin], 
body.holmes-debug[rightmargin], 
body.holmes-debug[bottommargin], 
body.holmes-debug[leftmargin] {
	outline: 2px solid darkgrey;
}


.holmes-debug *[bordercolor], 
.holmes-debug *[bordercolordark], 
.holmes-debug *[bordercolorlight],
.holmes-debug table[frame] {
	border: 2px solid darkgrey;
}


/*********************
	ПУСТЫЕ ЭЛЕМЕНТЫ (уровень предупреждений)
**********************/

.holmes-debug div:empty, 
.holmes-debug span:empty,
.holmes-debug li:empty, 
.holmes-debug p:empty,
.holmes-debug td:empty, 
.holmes-debug th:empty {
	border: 2px solid #fd0;
}

	
/* ====================================================== */
/* = СТИЛИ СООБЩЕНИЙ ==================================== */
/* ====================================================== */

/* ======================== */
/* = Стиль предупреждений = */
/* ======================== */

/* - ССЫЛКИ - */
.holmes-debug a[href="#"]:hover::after,
.holmes-debug a[href^="javascript"]:hover::after,
.holmes-debug a:not([title]):hover::after,
.holmes-debug a[title=""]:hover::after,

/* - ПУСТЫЕ ЭЛЕМЕНТЫ - */
.holmes-debug div:empty:hover::after, 
.holmes-debug span:empty:hover::after,
.holmes-debug li:empty:hover::after, 
.holmes-debug p:empty:hover::after,
.holmes-debug td:empty:hover::after, 
.holmes-debug th:empty:hover::after,

/* - АТРИБУТЫ - */
.holmes-debug [style]:hover::after {
	border-radius: 0.5em;
	display:block;
	padding: 1em;
	margin: 1em;
	background: #fd0;
	position: fixed;
	color: #000;
	left: 0px;
	top: 0px;
	z-index: 9999;
}


/* ================ */
/* = Стили ошибок = */
/* ================ */

/* - ССЫЛКИ - */
.holmes-debug a:not([href]):hover::after,
.holmes-debug a[href=""]:hover::after,

/* - ИЗОБРАЖЕНИЯ - */
.holmes-debug img:not([alt]):hover:after,
.holmes-debug img[alt=""]:hover::after,

/* АТРИБУТЫ */
.holmes-debug label:not([for]):hover::after,
.holmes-debug label[for=""]:hover::after,

.holmes-debug input:not([name]):hover::after,
.holmes-debug input[name=""]:hover::after,

.holmes-debug select:not([name]):hover::after,
.holmes-debug select[name=""]:hover::after,

.holmes-debug textarea:not([name]):hover::after,
.holmes-debug textarea[name=""]:hover::after,

.holmes-debug abbr:not([title]):hover::after,
.holmes-debug abbr[title=""]:hover::after,

.holmes-debug [class=""]:hover::after,
.holmes-debug [id=""]:hover::after,

.holmes-debug table:not([summary]):hover::after,
.holmes-debug table[summary=""]:hover::after {
	border-radius: 0.5em;
	display:block;
	padding: 1em;
	margin: 1em;
	background: red;
	position: fixed;
	color: #000;
	left: 0px;
	top: 0px;
	z-index: 9999;
	text-decoration: none;
}

/* =============================================== */
/* = Стили для сообщения об устаревших элементах = */
/* =============================================== */

/* - УСТАРЕВШИЕ ИЛИ НЕЯВЛЯЮЩИЕСЯ W3C ЭЛЕМЕНТЫ - */
.holmes-debug applet:hover::after, 
.holmes-debug acronym:hover::after, 
.holmes-debug center:hover::after, 
.holmes-debug dir:hover::after, 
.holmes-debug font:hover::after,   
.holmes-debug strike:hover::after, 
.holmes-debug u:hover::after, 
.holmes-debug big:hover::after,
.holmes-debug tt:hover::after,
.holmes-debug marquee:hover::after,
.holmes-debug plaintext:hover::after,  
.holmes-debug xmp:hover::after,

.holmes-debug *[bordercolor]:hover::after, 
.holmes-debug *[bordercolordark]:hover::after, 
.holmes-debug *[bordercolorlight]:hover::after,

.holmes-debug table[frame]:hover::after {
	border-radius: 0.5em;
	display:block;
	padding: 1em;
	margin: 1em;
	background: red;
	position: fixed;
	background: darkgrey;
	color: #000;
	left: 0px;
	top: 0px;
	z-index: 9999;
}

/* ============================================= */
/* = Стили сообщений об устаревших стилях body = */
/* ============================================= */

body.holmes-debug[bgproperties]:hover::after, 
body.holmes-debug[topmargin]:hover::after, 
body.holmes-debug[rightmargin]:hover::after, 
body.holmes-debug[bottommargin]:hover::after, 
body.holmes-debug[leftmargin]:hover::after { 
	border-radius: 0.5em;
	display:block;
	padding: 1em;
	margin: 1em;
	background: red;
	position: fixed;
	background: darkgrey;
	color: #000;
	bottom: 0px;
	right: 0px;
	z-index: 9999;
}

.holmes-debug td:empty:hover::after, 
.holmes-debug th:empty:hover::after {
	top: 4em;
}

/* ========================================================== */
/* = СОДЕРЖАНИЕ СООБЩЕНИЙ =================================== */
/* ========================================================== */

/**************
	ССЫЛКИ
**************/

.holmes-debug a:not([href]):hover::after,
.holmes-debug a[href=""]:hover::after {
	content:'Пропущен атрибут href';
}

.holmes-debug a[href="#"]:hover:after{
	content:"href='#'";
}

.holmes-debug a[href^="javascript"]:hover:after{
	content:'Href содержит javascript';
}

.holmes-debug a:not([title]):hover::after,
.holmes-debug a[title=""]:hover::after {
	content:'Пропущен атрибут title';
}


/******************
	ИЗОБРАЖЕНИЯ 
******************/

.holmes-debug img:not([alt]):hover::after,
.holmes-debug img[alt=""]:hover::after {
	content:'Пропущен атрибут alt';
}


/***************
	АТРИБУТЫ
****************/

.holmes-debug label:not([for]):hover::after,
.holmes-debug label[for=""]:hover::after{
	content:'Пропущен атрибут';
}

.holmes-debug input:not([name]):hover::after,
.holmes-debug input[name=""]:hover::after,
.holmes-debug select:not([name]):hover::after,
.holmes-debug select[name=""]:hover::after,
.holmes-debug textarea:not([name]):hover::after,
.holmes-debug textarea[name=""]:hover::after {
	content:'Пропущен атрибут name';
}

.holmes-debug abbr:not([title]):hover::after,
.holmes-debug abbr[title=""]:hover::after {
	content:'Пропущен атрибут title';
}

.holmes-debug [class=""]:hover::after {
	content:'Пустой атрибут class';
}
.holmes-debug [id=""]:hover::after {
	content:'Пустой атрибут id';
}

.holmes-debug table:not([summary]):hover::after,
.holmes-debug table[summary=""]:hover::after {
	content:'Пропущен атрибут summary';
}

.holmes-debug [style]:hover::after {
	content: 'Элемент имеет встроенный стиль';
}

/*************************************************************************
	УСТАРЕВШИЕ ИЛИ НЕЯВЛЯЮЩИЕСЯ W3C ЭЛЕМЕНТЫ
	Основано на документе http://www.w3.org/TR/html5/obsolete.html#obsolete
*************************************************************************/

.holmes-debug applet:hover::after, 
.holmes-debug acronym:hover::after, 
.holmes-debug center:hover::after, 
.holmes-debug dir:hover::after, 
.holmes-debug font:hover::after,   
.holmes-debug strike:hover::after, 
.holmes-debug u:hover::after, 
.holmes-debug big:hover::after,
.holmes-debug tt:hover::after,
.holmes-debug marquee:hover::after,
.holmes-debug plaintext:hover::after,  
.holmes-debug xmp:hover::after {
	content:'Устаревший или неявляющийся W3C элемент';
}

/****************************************************************************
	УСТАРЕВШИЕ АТРИБУТЫ
	Основано на документе http://www.w3.org/TR/html5/obsolete.html#obsolete
*****************************************************************************/


body.holmes-debug[bgproperties]:hover::after {
	content:'Устаревший атрибут bgproperties';
}
 
body.holmes-debug[topmargin]:hover::after,
body.holmes-debug[rightmargin]:hover::after, 
body.holmes-debug[bottommargin]:hover::after, 
body.holmes-debug[leftmargin]:hover::after {
	content:'Устаревший атрибут тега body *margin';
}	

.holmes-debug *[bordercolor]:hover::after, 
.holmes-debug *[bordercolordark]:hover::after, 
.holmes-debug *[bordercolorlight]:hover::after,
.holmes-debug table[frame]:hover::after {
	content:'Устаревший атрибут тега body bordercolor';
}

/*********************
	ПУСТОЙ ЭЛЕМЕНТ
**********************/

.holmes-debug div:empty:hover::after, 
.holmes-debug span:empty:hover::after,
.holmes-debug li:empty:hover::after, 
.holmes-debug p:empty:hover::after,
.holmes-debug td:empty:hover::after, 
.holmes-debug th:empty:hover::after {
	content:'Пустой элемент';
}