html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	background:#fafafa url(../img/bg-top.png) center top repeat-x;
}
a {
	color: #2971d4;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 980px;
	margin: 0 auto;
}

@font-face {
    font-family: 'PTSansBoldItalic';
    src: url('PTS76F-webfont.eot');
    src: url('PTS76F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS76F-webfont.woff') format('woff'),
         url('PTS76F-webfont.ttf') format('truetype'),
         url('PTS76F-webfont.svg#PTSansBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansBold';
    src: url('PTS75F-webfont.eot');
    src: url('PTS75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS75F-webfont.woff') format('woff'),
         url('PTS75F-webfont.ttf') format('truetype'),
         url('PTS75F-webfont.svg#PTSansBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansItalic';
    src: url('PTS56F-webfont.eot');
    src: url('PTS56F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS56F-webfont.woff') format('woff'),
         url('PTS56F-webfont.ttf') format('truetype'),
         url('PTS56F-webfont.svg#PTSansItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'PTSansRegular';
    src: url('PTS55F-webfont.eot');
    src: url('PTS55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('PTS55F-webfont.woff') format('woff'),
         url('PTS55F-webfont.ttf') format('truetype'),
         url('PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 {font:36px 'PTSansBoldItalic', sans-serif;margin-bottom:28px;}
.article h1 {font:36px 'PTSansBoldItalic', sans-serif;margin-bottom:26px;padding-top:7px;margin-left:-2px;}
h2 {font:18px Arial,sans-serif;margin-bottom:20px;font-style:italic;line-height:18px;}
.article h2 {font:24px 'PTSansBoldItalic',sans-serif;margin-bottom:20px;font-style:italic;line-height:18px;}
.bx-start, .stop {display:none;}
.clear {clear:both;}
/* Article
-----------------------------------------------------------------------------*/
.article .pub-date {color:#7b7b7b;font:12px 'PTSansRegular',sans-serif;display:block;margin-top:-17px;margin-bottom:15px;}
.article .c-center img {float:left;
	margin-right:5px;
	margin-left:-5px;}
.article .c-center p {margin-top:-5px;margin-bottom:24px;}
.news {clear:both;margin-bottom:36px;display:inline-block;}
.news .social {
	position:relative;
	bottom:0px;
	left:0;
	margin-left:0px;
	width:405px;
	height:22px;
	background:url(../img/vidjets.png) 0 0 no-repeat;
	margin-bottom:20px;
}
.back {font:12px Arial,sans-serif;margin-top:-15px;margin-bottom:15px;display:block;}
.title {font:18px Arial,sans-serif;font-weight:bold;}
/* Service
-----------------------------------------------------------------------------*/
.service p {font:14px Arial,sans-serif;font-weight:bold;font-style:italic;margin-bottom:0;}
.service .tel p {font-weight:normal;font-style:normal;font: 13px 'PTSansRegular', sans-serif;}
.service h2 {font:24px 'PTSansBoldItalic',sans-serif;}
.service .c-center ul {list-style:disc;padding-left:45px;font:14px Arial,sans-serif;margin-bottom:18px;line-height:18px;}
.no-disc {list-style:none;}
.service .c-center .button {
	position:relative;
	left:50%;
	top:0px;
	margin-left:-110px;
	margin-bottom:40px;
	width:175px;
	height:52px;
	line-height:52px;
	text-align:center;
	z-index:999999999999;
	background:url(../img/button-slider.png) 0 0 no-repeat;
}
.service .c-center a:hover {text-decoration:underline;}
/* Contact
-----------------------------------------------------------------------------*/
.l-col {
	width:320px;
	float:left;
	margin-left:-20px;
	margin-right:50px;
}
.l-col label.f1st{
	text-align:left;
	margin-left:22px;
	margin-right:-22px;
}
.l-col label{
	display:block;
	width:100px;
	text-align:right;
	float:left;
	font:12px Arial,sans-serif;
}
.l-col textarea {
	width:208px;
	height:96px;
	float:left; 
	max-width:208px;
	max-height:96px;
	min-width:208px;
	min-height:96px;
	border:0;
	padding:0;
	margin:0 0 8px 5px;
	background:#FFF url(../img/textarea.png) 0 0 no-repeat;
	resize:none;	
}
.l-col input {
	float:left;
	width:208px;
	height:21px;
	background:#FFF url(../img/input-text.png) 0 0 no-repeat;
	border:0;
	padding:0;
	margin:0 0 8px 5px;
}
.l-col input[type=submit] {
	margin-left:105px;
	width:123px;
	height:38px;
	background:url(../img/button-send.png) 0 0 no-repeat;
	color:#fff;
	font:18px 'PTSansRegular',sans-serif;
	text-decoration:underline;
}
.r-col {width:451px;float:left;margin-right:-40px;margin-left:-40px;}
.c-center .r-col img{margin:0;padding:0;float:none;}
.r-col a{display:block;margin-top:15px;}
.r-col pre {font:12px Arial,sans-serif;margin-bottom:80px;}
/* Header
-----------------------------------------------------------------------------*/
#header {
	background:#fafafa url(../img/bg-top.png) 16px top repeat-x;
	height: 250px;
	position:relative;
	width: 980px;
	margin: 0 auto;
}
.alogo {
	display:inline-block;
	text-decoration:none;
}
.logo {
	display:inline-block;
	width:146px;
	height:146px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	background:url(../img/logo.png) 0 0 no-repeat;
	position:relative;
	top:23px;
	left:8px;
}
.flags {
	position:absolute;
	width:16px;
	height:14px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	display:block;
	background:url(../img/lang.png) 0 -14px no-repeat;
	top:42px;
	left:286px;
}
.ua {
	left:319px;
	top:43px;
	background-position:0 0;
}
.tel {
	position:absolute;
	left:638px;
	top:48px;
	padding-left:76px;
	height:73px;
	background:url(../img/telephone.png) 0 0 no-repeat;
	font:13px 'PTSansRegular', sans-serif;
}
.tel p {
	margin-bottom:-4px;
	padding-top:5px;
	padding-left:6px;
}
.tel b {
	font:24px 'PTSansBold', sans-serif;
	margin-left:2px;
}
.tel a {
	font:14px 'PTSansItalic', sans-serif;
	float:right;
	margin-right:5px;
}

.index .menu {
	width:737px;
	height:76px;
	position:absolute;
	background:url(../img/bg-menu.png) 0 0 no-repeat;
	left:50%;
	margin-left:-364px;
	top:170px;
	padding:0 10px;
}
.menu {
	width:862px;
	height:76px;
	position:absolute;
	background:url(../img/bg-menu-inner.png) 0 6px no-repeat;
	left:50%;
	margin-left:-406px;
	top:170px;
	padding:0 10px;
}
.menu li {
	float:left;
	font:18px 'PTSansBoldItalic', sans-serif;
	padding:25px 17px 0;
}
.menu li a {
	display:block;
	height:21px;
	text-decoration:none;
	border-bottom:1px solid #2971d4;
}
.menu li.item1m {margin-left:-13px;}
.menu li.item1 {padding-left:9px;}
.menu li.item2 {padding-left:11px;}
.menu li.item3 {padding-left:19px;}
.menu li.item5 {padding-left:10px;}
.menu li.item6 {padding-left:14px;}
.menu li.item7 {padding-left:14px;}

.index .menu li.item1 {padding-left:17px;}
.index .menu li.item2 {padding-left:19px;}

.menu li a:hover {	border-bottom:0;}
/* Middle
-----------------------------------------------------------------------------*/
#content {

}
.c-center {
	width:765px;
	margin-left:120px;
	margin-top:12px;
	font:14px Arial,sans-serif;
	line-height:18px;
}
.c-center .last {margin-top:-20px;}
.article .c-center .last {margin-top:0px;}
.c-center img{
	clear:both;
	float:right;
	margin-right:-5px;
	padding-left:5px;
	padding-bottom:20px;
}
.c-center .g-box img{
	clear:both;
	float:none;
	margin:0;padding:0;
}
.g-box a{font-size:12px;}
.g-box {
	width:138px;
	height:185px;
	margin:0 8px 38px 0;
	float:left;
}
#slider1 {
	width:530px;
	font:36px 'PTSansBoldItalic', sans-serif;
	line-height:36px;
}
.bx-window {
	left:250px;
	margin-top:6px;
	margin-bottom:20px;
}
.bx-prev, .bx-next {
	display:inline-block;
	position:absolute;
	top:38px;
	left:92px;
	width:13px;
	height:24px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	background:url(../img/arrows.png) 0 -24px no-repeat;
}
.bx-next {
	left:872px;
	background-position:0 0;
}
.line2 {
	padding-top:30px;
}
#slides {
	position:relative;
	z-index:100;	
	padding-bottom:60px;
	background:url(../img/shadow-slider.png) bottom center no-repeat;
}
.index .button {
	position:absolute;
	left:400px;
	top:230px;
	width:175px;
	height:52px;
	margin-left:0;
	line-height:52px;
	text-align:center;
	z-index:999999999999;
	background:url(../img/button-slider.png) 0 0 no-repeat;
}
.price .c-center {padding-bottom:134px;}
.vacancy .c-center {padding-bottom:22px;overflow:hidden;}
table {margin-top:-10px;}
table td {padding:9px 15px 9px 0}
.button {
	position:relative;
	left:50%;
	top:35px;
	margin-left:-110px;
	width:175px;
	height:52px;
	line-height:52px;
	text-align:center;
	z-index:999999999999;
	background:url(../img/button-slider.png) 0 0 no-repeat;
}
.button a{
	font:18px 'PTSansRegular', sans-serif;	
	color:#fff;	
}
.slides_container {
	width:852px;
	height:265px;
	overflow:hidden;
	position:relative;
	margin-left:64px;
}
.pagination {display:none;}

.about {
	margin-left:-13px;
	margin-top:-11px;
	padding-left:13px;
	height:550px;
	background:url(../img/bg-about.png) center top repeat-x;
}
.blocks {
	width: 880px;
	margin: 0 auto;
}
.about h2 {
	padding-top:15px;
	margin-left:-26px;
	font:30px 'PTSansItalic', sans-serif;	
	text-align:center;	
}
.item {
	width:400px;
	float:left;
	margin-left:40px;
	margin-top:20px;
	height:75px;
}
.item i {
	float:left;
	color:#fff;
	font:70px 'PTSansItalic', sans-serif;	
	margin-right:2px;
}
.item p {
	font:14px Arial, sans-serif;
	line-height:22px;
	padding-top:15px;
}
.it2 i{margin-left:4px;}
.it2 i {margin-right:4px;}
.it3 i {margin-left:-8px;	margin-right:3px;}
.it3 p {padding-top:18px;}
.it4 i {margin-left:2px;margin-top:2px;margin-right:3px;}
.it4 p {padding-top:18px;}
.it3, .it4 {height:105px;}
.it5 i {margin-left:-9px;margin-top:-2px;margin-right:5px;}
.it6 i {margin-left:4px;margin-top:-1px;margin-right:1px;}
.it5, .it6 {height:87px;}
.it7 i{margin-left:-13px;margin-right:7px;}
.it8 i{margin-left:1px;margin-right:4px;}


.line {height:40px;background:#ffbb01;position:relative;top:20px;margin-bottom:-5px;clear:both;}


.page-nav {clear:both;margin-bottom:100px;margin-left:-20px;}
.page-nav li {float:left;width:51px;height:52px;line-height:52px;text-align:center;}
.page-nav li.active {background:url(../img/active-page.png) 0 0 no-repeat;}
.page-nav li.active a{color:#fff;text-decoration:none;font-weight:bold;}
.page-nav li.last {width:100px;margin-left:17px;}

.v-center {text-align:center;margin-top:-13px;margin-bottom:40px;}
.vacant {
	width:300px;
	height:110px;
	float:left;
}
.rt {float:right;}
.vacant p {
	padding:0;
	margin:0;
}
.vacant a,.vacant b{font:18px Arial,sans-serif;}
/* Header
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	height: 385px;
	background:url(../img/bg-bot.png) bottom repeat-x;
}
.f-center {
	width: 980px;
	margin: 0 auto;
	position:relative;
}
.f-center h3 {font:18px Arial,sans-serif;padding-top:72px;padding-left:18px;}
.f-center .tel {
	left:23px;
	top:117px;
}
.f-center .tel b{
	display:block;
	margin-top:22px;
	margin-bottom:7px;
}
.f-center .tel a{
	margin-top:0;
	padding-top:0;
	float:none;
	display:inline;
	margin-right:0;
}
.f-center .tel p{
	clear:left;
	font:12px Arial,sans-serif;
	margin-left:-2px;
}
a.email {
	display:block;
	font-style:normal;
	padding-left:3px;
	font:13px 'PTSansRegular', sans-serif;	
	float:left;

}
.question {
	float:right;
	margin-right:48px;
	margin-top:40px;
}
.copy {
	clear:both;
	padding-top:25px;
	padding-left:18px;
}
.autors {
	float:right;
	margin-top:-70px;
	margin-right:48px;
}
.social {
	position:absolute;
	bottom:-49px;
	left:50%;
	margin-left:-210px;
	width:405px;
	height:22px;
	background:url(../img/vidjets.png) 0 0 no-repeat;
}