.col3 {	width:170px;}
.findarea {
	position:relative;
	left:100%;
	margin-left:-235px;
}
.findarea input{ 
	margin-top:-20px;
}
.number {
	padding-bottom:30px;
}
.number p {
	position:absolute;
	top:97px;
	width:130px;
}
.number p.first {	
	top:77px;
}
.number p span {
	margin-top:-12px;
}
.ie7fix p {
	width:680px;
}