* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 138px;
	background: url(../img/header.png);
	margin:0 0 25px 0;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 38px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
#container {
	width: 100%;
	float: left;
	overflow: hidden;
}
#content {
	padding: 0 40px 0 270px;
}
p {
	float:left;
	text-indent:20px;
	font-size:11px;
	line-height:13px;
	margin:9px 0 0;
}
.title {
	position:relative;
	float:left;
	height:17px;
	width:100%;
}
.title > h3 {
	float:left;
	font-weight:normal;
	font-size:16px;
	padding:0 14px 0 14px;
	margin-top:-1px;
}
.title > .begin, .title > .end {
	float:left;
	width:36px;
	height:17px;
	margin-bottom:3px;
	background:#60B95F url(../img/hbg.png) right -17px no-repeat;
}
.title > .end {
	background:#60B95F url(../img/hbg.png) left 0 no-repeat;
	float:right;
	width:390px;
}
.end-tel {
	position:absolute;
	width:37px;
	height:79px;
	left:100%;
	top:-2px;
	margin-left:-37px;
	background:url(../img/tel.png) 0 0 no-repeat;
}
.nedv {
	padding-top:37px;
}
.nedv > .end {
	width:465px;
}
.obj > .end {
	width:505px;
}
.obj {
	margin-top:-5px;
}
.nedvfind {
	position:relative;
	float:left;
	width:640px;
	height:180px;
	background:#F5F5F5;
	margin-top:20px;
	padding:15px 25px 5px;
	border:1px solid #EBEBEB;
}
.col1, .col2, .col3 {
	float:left;
}

.col1 p, .col2 p, .col3 p{
	padding:0	;
	margin:0;
}
.col1 {
	width:215px;	
	margin-right:40px;
}
input[type=text] {
	width:55px;
	height:20px;
	line-height:20px;
}
.col1 select {
	width:215px;
}
.col2 {
	width:170px;
} 
.col2 p {
	text-indent:0px;
	padding:0;
	margin-top:6px;
	margin-bottom:3px;
}
.col3 {
	margin-left:50px;
	width:165px;
}
.col3 p {
	text-indent:0px;
	padding:0;
	margin-top:6px;
	margin-bottom:6px;
}
.col3 input[type=checkbox] {
	margin-right:10px;
}
.findarea {
	position:absolute;
	width:225px;
	height:30px;
	bottom:0;
	right:0;
}

.findarea a{
	display:inline-block;
	margin-top:2px;
	color:#636363;

}
.findarea input{
	margin-right:30px;
	display:inline-block;
	border:1px solid #34A531;
	float:right;
	width:56px;
	height:23px;
	background:#fff url(../img/buttonbg.png);	
	cursor:pointer;
}
.object {
	position:relative;
	float:left;
	width:310px;
	height:106px;
	padding-right:22px;
	margin:24px 0 0 18px;
}
.last {
	padding-right:0;
}
.object img {
	float:left;
	border:1px solid #34A531;
}
.object p {
	text-indent:10px;
}
.object p.desc {
	float:left;
	width:150px;
	margin-left:10px;
	text-indent:0px;
	margin-top:6px;
	font-size:11px;
	line-height:16px;
}
.object p.type {
	font-weight:bold;
	color:#34A531;
	font-size:13px;
	float:left;
	margin-top:-3px;
}
.readmore {
	color:#34A531;
}
/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
	float: left;
	padding:0 30px 0 40px;
	width: 200px;
	margin-left: -100%;
	position: relative;
}
.sidebar .title {
	margin-top:38px;
}
.sidebar .title > .end {
	background:#60B95F url(../img/hbg.png) left 0 no-repeat;
	float:right;
	width:22px;
	margin-right:0px;
}
ul.nav {
	list-style-type:none;
	font-size:11px;
	margin:-3px 0 0 5px;
	color:#60B95F;
}
ul.nav li{
	height:20px;
	margin-top:-1px;
	border-bottom:1px dotted #ccc;
}

ul.nav li:hover, ul.nav li.active{
	background:#34A531;
}
ul.nav li:hover a, ul.nav li.active a{
	color:#fff;
}
ul.nav a{
	display:block;
	padding-left:7px;
	color:#000;
	text-decoration:none;
	margin:-17px 0 0 5px;
}
.number .title {
	float:none;
}
.number {
	position:relative;
	height:74px;
}
.number p {
	position:absolute;
	top:57px;
	left:15px;
	font-size:12px;
	margin:0;
	padding:0;
	text-indent:0;
	width:128px;
}
.number p.first {	
	top:37px;
}
.number p span {
	float:right;
	color:#34A531;
	font-size:16px;
	padding-left:3px;
	margin-top:-2px;
}

.onlineform {
	float:left;
	margin-top:20px;
	padding:15px;
	width:166px;
	height:230px;
	background:#F5F5F5;
	border:1px solid #EBEBEB;
}
label {
	font-weight:bold;
	font-size:11px;
}
select {
	width:165px;
	height:20px;
	margin-top:6px;
	margin-bottom:6px;
	padding:1px;
}
textarea {
	margin-top:6px;
	width:165px;
	height:76px;
	overflow:auto;
	
}
.onlineform  .find {
	display:inline-block;
	border:1px solid #34A531;
	float:right;
	margin-top:9px;
	width:56px;
	height:23px;
	background:#fff url(../img/buttonbg.png);	
	cursor:pointer;
}
/* Footer
-----------------------------------------------------------------------------*/
#footer {
	width: 1000px;
	margin:0 auto;
	height: 38px;
	background: #ECECEC;
	text-align:center;
	line-height:38px;
}