---
layout: page
title: Блог фронтенд разработчика
is_blog: true
redirect_from:
  - /front-end/
  - /tools/
  - /all/
---

<ul class="posts">
{% for post in paginator.posts %}
	{% include post.html %}
{% endfor %}
</ul>

<!-- Pagination links -->
<p class="pagination clearfix">
	{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path }}" class="prev">← Предыдущая страница</a>
	{% endif %}
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path }}" class="next">Следующая страница →</a>
	{% endif %}
</p>
