html, body {
	height: 100%;
	margin: 0;
	background: url(bg21.jpg) 50% 50%
}

body {
	font-family: Cambria, Georgia, serif;
}

.centered {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	border-spacing: 0;
}

.test {
	position: absolute;
	left: 0;
	top: 0;
	width: 800px;
	height: 420px;
	z-index: 100;
}

.test i {
	position: absolute;
	z-index: 10;
	width: 24px;
	height: 24px;
	background: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	box-shadow: 0 0 5px 0 #ccc;
}

.test i.disable {
	opacity: .4
}

.test i.default {
	background: #fff;
	border: 1px solid #ccc;
}

.test .text {
	position: absolute;
	margin-left: -50px;
	width: 100px;
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	font-style: normal;
	cursor: default;
	color: #666;
}

.test i.blue {
	background: #4791c8;
}
.test i.red {
	background: #aa2a2f;
}
.test i.green {
	background: #62a642;
}
.test i.orange {
	background: orange;
}

.centered td {
	vertical-align: middle;
	padding: 10px 0 30px;
}

.app {
	position: relative;
	background: #fff;
	width: 800px;
	height: 480px;
	border: 1px solid #ccc;
	margin: 0 auto;
	box-shadow: 0 0 15px 0 #ccc;
	overflow: hidden;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

h1 {
	width: 800px;
	font-weight: normal;
	margin: 0 auto 10px;
	text-align: center;
	font-size: 24px;
	line-height: 1;
}

.bottomLine {
	position: absolute;
	height: 60px;
	line-height: 60px;
	bottom: 0;
	left: 0;
	right: 0;
	background: #efefef;
	box-shadow: 0 0 15px 0 #ccc;
	border-top: 1px solid #ccc;

}

.bottomLine .middle {
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.bottomLine .middle select{
	width: 100%;
}

.btn {
	margin: 0 10px;
	font-size: 14px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: #333;
	background-color: #fff;
	border-color: #ccc;

	text-decoration: none;

}
.btn:hover {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}
.btn:active {
	outline: 0;
	background-image: none;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.btn.big {
	font-size: 20px;
}

.left {
	float: left;
	height: 100%;
	line-height: 60px;
}

.right {
	height: 100%;
	float: right;
	line-height: 60px;
}

.tooltip {
	position: absolute;
	color: #aa2a2f;
	font-size: 14px;
	bottom: 100%;
	width: 150px;
	padding: 10px;
	right: 0;
	margin: 0;
	line-height: 1;
	text-align: center;
}

.tooltip i {
	display: block;
	font-size: 20px;
	text-align: right;
	padding-right: 50px;
	font-style: normal;
}