.header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav {
  margin-left: auto;
  display: flex;
  gap: 2rem;

  a {
    padding: 0.5rem;
    margin: -0.5rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.33rem;
  font-weight: 500;
  padding: 0.5rem;
  margin: -0.5rem;
  cursor: pointer;

  span {
    transform: translateY(-2px);
  }
}

.active {
}
