.more-box {
  margin-top: $gap;
  text-align: center;

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    margin-top: $gap-sm;
  }
}

.round-btn {
  display: inline-block;
  margin: 0 auto;
  padding: 12px 37px;
  border: 1px solid $c-card-border;
  border-radius: 27px;
  background: $c-content;
  color: $c-text;
  vertical-align: top;
  font-weight: bold;
  font-size: 18px;
}
