.blocks-wrapper {
  padding: $gap;
  padding-left: 0;

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    padding: 0 $gap-sm;
  }
}

.cards {
  -webkit-column-width: 300px;
  column-width: 300px;
  -webkit-column-gap: $gap-sm;
  column-gap: $gap-sm;

  .card {
    margin-bottom: $gap-sm;
    border: 1px solid $c-card-border;
    break-inside: avoid; /* IE 10+ */
    page-break-inside: avoid; /* Firefox */

    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
      margin-bottom: $gap-sm;
    }
  }

  &_suggestions {
    padding: $gap 0;

    @media (max-width: $max-website-width) {
      padding-right: $gap;
    }

    @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
      padding: $gap-sm;
      padding-bottom: 0;
    }
  }
}

// .cards_suggestions .card { margin-bottom: 0; }

.card {
  background: $c-content;

  .padding {
    padding: $lh*0.8 $lh;
  }

  a {
    display: block;
    color: $c-text;
  }

  img {
    display: block;
    width: 100%;
  }

  .tags {
    margin-bottom: $lh/4;
    font-size: $fz-sm;

    span {
      &::after {
        content: ', ';
      }
      &:last-child::after {
        content: '';
      }
    }
  }

  .title {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;

    a {
      font-weight: inherit;
    }
  }

  .title + p {
    margin-top: $lh/2;
  }

  p {
    margin-bottom: 0;
    color: $c-gray;
    font-size: 1.5rem;
  }
}
