.featured {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-width: 32rem;
  column-width: 32rem;
  -webkit-column-gap: 4rem;
  column-gap: 4rem;

  p {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    margin-bottom: $line-height * 0.25;
  }
}
