.site-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: $gap;
  width: $sidebar-width;

  @media (min-width: $max-website-width) {
    left: 50%;
    margin-left: $max-website-width / 2 * -1;
  }

  @media (max-width: $sidebar-min-width), (max-height: $hide-footer-height) {
    position: static;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: initial;
    padding: $gap-sm;
    width: auto;
    text-align: center;
  }

  &__link {
    display: inline-block;
    padding-right: 14px;
    vertical-align: top;

    @media (max-width: $bp-mobile) {
      padding: 0 7px;
    }
  }

  &__icon {
    display: block;
    height: 20px;
  }
}
