---
layout: page
title: Блог разработчика интерфейсов / front end разработчика
s_title: Блог разработчика интерфейсов
redirect_from:
  - /front-end/how_to_exclude_my_views_from_yandex_metrica/
  - /privet-mir/
  - /blog/
  - /blog/page2/
  - /blog/page3/
description: >
  Статьи и заметки о разработке интерфейсов, верстке, HTML, CSS, JavaScript, фреймворках и трендах в мире front end разработки.
keywords: >
  заметки разработчика блог верстка статьи front end javascript css web html javascript
s_description: >
  Статьи и заметки о разработке интерфейсов, верстке, HTML, CSS, JavaScript, фреймворках и трендах front end разработки
---


<ul class="posts-list hfeed">
    {% for post in paginator.posts %}
        {% assign m = post.date | date: "%-m" %}

        <li>
            <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
                <a class="entry-title" rel="bookmark" href="{{ post.url }}/">
                    <h3 itemprop="headline">
                        {{ post.title }}
                        &nbsp; <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }}&nbsp;{% include month.html %}&nbsp;{{ post.date | date: "%-Y"}}</abbr>
                    </h3>
                </a>

                <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>

                <address itemprop="author" class="vcard author visuallyhidden"><a class="url fn" href="/about/">Юрий Матюхин</a></address>
            </article>
        </li>
    {% endfor %}
</ul>

<div role="navigation" class="post-nav clearfix">

      {% if paginator.previous_page %}
        <a rel="next" href="{{ paginator.previous_page_path | replace: 'index.html', '' }}" class="btn to-right">Позже</a>
      {% endif %}

      {% if paginator.next_page %}
        <a rel="prev" href="{{ paginator.next_page_path }}" class="btn to-left">Раньше</a>
      {% endif %}

</div>

<div class="keywords section-subtitle visuallyhidden" role="contentinfo">
	<h6>заметки разработчика</h6>
	<h6>блог разработчика</h6>
	<h6>верстка статьи</h6>
	<h6>статьи разработчика</h6>
	<h6>frontend разработка</h6>
	<h6>html css javascript</h6>
	<h6>блог web разработчика</h6>
</div>
