.adsbygoogle.horizontal { max-width: 728px; margin: 24px 0; height: auto !important; opacity: 0; transition: opaacity .3s; }

.adsbygoogle.right300x250x1,
.adsbygoogle.right300x250x2,
.adsbygoogle.right300x600 {
	position: absolute;
	max-width: 300px;
	left: 100%;
	margin-left: 24px;
	top: 0;
}
.adsbygoogle.right300x250x2 { top: 274px; }
.adsbygoogle.right300x600 { top: 548px; }

@media screen and (max-width: 960px) {
	.adsbygoogle,
	.adsbygoogle.right300x600 {
		position: static !important;
		margin: 24px 0 0;
		float: left;
	}

	.adsbygoogle + .adsbygoogle {
		margin-left: 24px;
	}
}

.adsbygoogle iframe { outline: none; }
.adsbygoogle { opacity: 0; transition: opacity .3s ease-in-out}
.adsbygoogle[data-adsbygoogle-status="done"] { opacity: 1; }
