h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 18px;
	font-family: Verdana;
	margin: 22px 0 11px 0;
}
h1 { margin: 0; }
h2 { font-size: 16px }

h3, h4, h5, h6 {
	font-size: 14px;
}

h2,
h3 { margin: 2.4em 0 .8em; }
