---
---

* { box-sizing: border-box; }
html { border-top: 3px solid #c00; }
body {
	padding: 6%;
	margin: 0;
	font: 13px/1.618 Verdana, Georgia, serif;
}

/* links */

a {
	color:#008ACE;
	text-decoration: none;
	border-bottom: 1px solid #b2ccf0;
}
a:visited {
	color:#B40EB4;
	border-color: #e0b2e0;
}
a:hover {
	color:#c00;
	border-color: #f0b2b2;
}
a:visited:hover{ color:#c00 }
.dotted { border-bottom-style: dotted }

// Content

h1, h2 {
	margin: 0;
	font-size: 1.4em;
	margin-bottom: 13px;
	border-bottom: 1px solid rgba(0, 0, 0, .2);

	a {
		display: block;
		border: 0;

		&:link,
		&:visited {
			color: inherit;
		}
	}
}

h3, h4, h5, h6 { font-size: 1em; margin: 0; }
h4 { margin-top: 13px; }

ul { margin: 0; padding: 0; list-style-type: none; }
ul li + li {
	margin-top: 1em;
}

.columns-box {
	overflow: hidden;
}

.column-1-3,
.column-1-4,
.column-3-4 { float: left; }

.column-3-4 { width: 60%; padding-right: 4%; }
.column-1-4 { width: 40%; }

.column-1-3 { width: 30%; }
.column-1-3 + .column-1-3 {
	margin-left: 5%;
}


@media (max-width : 48.063em) {
	.column-1-4 {
		margin-top: 42px;
	}

	.column-3-4,
	.column-1-4 {
		width: 100%;
		padding: 0;
	}
}


@media (max-width : 34.063em) {
	.column-1-3 {
		width: 100%;
	}

	.column-1-3 + .column-1-3 {
		margin-left: 0;
		margin-top: 21px;
	}
}

.en {
	position: absolute;
	right: 6%;
	top: 3px;
	line-height: 1.3;
	padding: 13px 0 0;
	color: #000 !important;
	border-bottom-color: rgba(0, 0, 0, .2) !important;
}

.me {
	float: right;
	padding: 0 0 13px 13px;
	background: #fff;
}

.copy {
	margin-top: 63px;
	font-style: normal;

	p { margin: 0 }
}

.gridlover-grid {
  outline: 1px solid hsla(200, 100%, 50%, .3);
  background-image: linear-gradient(to bottom, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
  background-position: left -1px;
  background-repeat: repeat;
  background-size: 21px 21px;
}
