a,a:visited{color:#0072ba;text-decoration:none;border-bottom:1px solid rgba(0,114,186,.5)}
a:hover,a:visited:hover{color:#d04000;border-color:rgba(208,64,0,.5);-webkit-transition:0s ease;transition:0s ease}

a.dark,a:visited.dark{color:#000;border-bottom:1px solid rgba(0,0,0,.5)}
a.dark:hover,a:visited.dark:hover{color:#d04000;border-color:rgba(208,64,0,.5);-webkit-transition:0s ease;transition:0s ease}
