---
---

@import 'document.scss';
@import 'logo.scss';
@import 'links.scss';
@import 'breadcrumbs.scss';
@import 'media.scss';
@import 'heading.scss';
@import 'lists.scss';
@import 'tables.scss';
@import 'lettering.scss';
@import 'code.scss';
@import 'blockquote.scss';

.content {
	h1, h2, h3, h4, h5, h6,
	li, p, dl, hr,
	blockquote {
		max-width: 572px;
	}
}

p,
iframe,
figure,
table,
.highlight,
details { margin: 0 0 22px 0 }
dd { margin-bottom: 22px; }

.copy {
	margin-top: 66px;
	font-style: normal;
}

iframe {
	display: block;
}

.visuallyhidden {
	overflow: hidden;
	position: absolute;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}


hr {
	margin: 22px 0;
	padding: 0;
	border: 0;
	height: 1px;
	background: #bbb;
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(0, 0, 0, .25)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(0, 0, 0, .25) 50%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(0, 0, 0, .25) 50%, rgba(255,255,255,1) 100%);
}

img[src="/img/en.gif"] {
	border: 0;
	vertical-align: middle;
}
