---
layout: page
title: Заметки разработчика интерфейсов
permalink: /front-end/
redirect_to:
  - /blog/
description: >
  В этом разделе я буду публиковать полезные инструменты, делиться ссылками и статьями, изучать новые штуки и писать статьи об этом. Приятного чтения.
---


<ul>
	{% for post in site.posts %}
		{% if post.categories[0] == 'front-end' %}
			<li>
				<article itemscope itemtype="http://schema.org/Article">
					<nav itemprop="name"><a itemprop="url" rel="bookmark" href="{{ post.url }}/">{{ post.title }}</a></nav>
				</article>
		{% endif %}
	{% endfor %}
</ul>
