---
layout: page
---

<ul class="posts-list">
  {% for post in site.posts %}
  {% for tag in post.tags %}
  {% if tag == page.tag %}
  <li>
      {% assign m = post.date | date: "%-m" %}
      <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting">
          <a class="entry-title" rel="bookmark" href="{{ post.url }}/">
              <h3 itemprop="headline">
                  {{ post.title }}
                  <abbr class="published updated" title='{{ post.date | date: "%Y-%m-%d" }}'>{{ post.date | date: "%-d"  }} {% include month.html %} {{ post.date | date: "%-Y"}}</abbr>
              </h3>
          </a>

          <meta itemprop="datePublished" content='{{ post.date | date: "%Y-%m-%d" }}'>
      </article>
  </li>
  {% endif %}
  {% endfor %}
  {% endfor %}
</ul>
