@layer components {
  .cards {
    margin-top: 4.5rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 900px) {
    .cards {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: 3rem;
    }

    .cards--list {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .cards--home > .post-card {
      grid-column: span 2;
    }

    .cards--home > .post-card:nth-child(1) {
      grid-column: span 4;
    }

    .cards--home > .post-card:nth-child(3),
    .cards--home > .post-card:nth-child(4) {
      grid-column: span 3;
    }
  }
}
