---
layout: default
title: Фронтенд разработчик
s_title: Юрий Матюхин
redirect_from:
  - /front-end/how_to_exclude_my_views_from_yandex_metrica/
  - /privet-mir/
  - /work/
  - /folio/
  - /about/
description: >
  Статьи и заметки о архитектуре веб приложений, разработке интерфейсов, верстке, HTML, CSS, JavaScript, фреймворках и трендах front end разработки.
---

<link rel="stylesheet" href="/css/index.css">

<a class="en" href="/en/">EN</a>

<div class="columns-box">
    <div class="column-3-4">

        <h2><a href="/all/">Статьи и заметки <span class="red">✭</span></a></h2>

        <div class="column-1-3">
            <h3><a href="/front-end/">Фронтенд</a></h3>
            <nav>
                <ul>
                    {% for post in site.categories.front-end limit:6 %}
                        <li><a rel="bookmark" href="{{ post.url }}/">{{ post.title }}</a>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="column-1-3">
            <h3><a href="/tools/">Инструменты</a></h3>
            <nav>
                <ul>
                    {% for post in site.categories.tools limit:7 %}
                        <li><a rel="bookmark" href="{{ post.url }}/">{{ post.title }}</a>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="column-1-3">
            <h3><a href="/blog/">Разное</a></h3>
            <nav>
                <ul>
                    {% for post in site.categories.blog limit:4 %}
                        <li><a rel="bookmark" href="{{ post.url }}/">{{ post.title }}</a>
                    {% endfor %}
                </ul>
            </nav>

            <br>
            <h4><a href="/books/">Книги</a></h4>
            <ul>
                {% for post in site.categories.books limit:3 %}
                    <li><a rel="bookmark" href="{{ post.url }}/">{{ post.title }}</a>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="column-1-4">
        <div class="me">
            <img src="/img/yury_matuhin.jpg" width="90" height="120" alt="">
        </div>
        <h1>Обо мне</h1>
        <p>Привет, я фронтенд разработчик: пишу приложения и запускаю онлайн-сервисы. Люблю минимализм и оптимизацию.
        </p><p>Bеду <a href="/blog/">блог</a> о разработке (архитектура приложений, верстка, фреймворки, инструменты, браузеры…).
        </p><p>Работаю в <a rel="nofollow" href="http://poloniumarts.com/">Polonium Arts</a>.</p>

        <!-- <h2>Советы</h2> -->
    </div>
</div>

{% include footer.html %}
