<!doctype html>
<html lang="ru">

	{% include head/head.html %}

	{% if page.categories %}<body class="is_page">{% else %}<body>{% endif %}

		<!-- animated show and hide -->
		<script>
			var body = document.getElementsByTagName('body')[0];
			window.onbeforeunload = function () { body.style.opacity = 0 };
			window.onpageshow     = function () { body.style.opacity = 1 };
			setTimeout(function() { body.style.opacity = 1 }, 25);
		</script>

		{{ content }}

		<!-- unctirical -->
		<link rel="stylesheet" href="/assets/css/uncritical.css" media="none" onload="media='all'">

		<!-- Syntax css -->
		<script>if (document.querySelector('.highlight')) document.write('<link rel=\"stylesheet\" href=\"\/assets\/css\/syntax.css\">')</script>
		<noscript><link rel="stylesheet" href="/assets/css/syntax.css"></noscript>
		<!-- /Syntax css -->

		<script src="/assets/js/emoji.js?v=2" async></script>
		<script src="/assets/js/hints.js" async></script>
		<script src="/assets/js/typo.js" async></script>

		{% if page.categories %}
			<!-- Sharing -->
			<link rel="stylesheet" href="/assets/css/likely.css" media="none" onload="media='all'">
			<script src="/assets/js/likely.js" async></script>
			<!-- /Sharing -->

			<!-- Comments -->
			<script src="/assets/js/disqus.js" async></script>
			<!-- /Comments -->
		{% endif %}

		{% if page.url == '/index.html' or page.url == '/' %}{% else %}
			<!-- Show ads message -->
			<link rel="stylesheet" href="/assets/css/ads.css" media="none" onload="media='all'">
			<noscript><link rel="stylesheet" href="/assets/css/ads.css"></noscript>
			<script async src="/assets/js/ads.js" onerror="document.querySelector('.no-ads').className += ' show'"></script>
			<!-- /Show ads message -->

			<!-- Google ads -->
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>(adsbygoogle = window.adsbygoogle || []).push({}, {}, {}, {});</script>
			<!-- /Google ads -->
		{% endif %}

		<!-- Yandex.Metrika counter -->
		<script async src="https://mc.yandex.ru/metrika/watch.js" onload="yaCounter28017147 = new Ya.Metrika({ id:28017147, clickmap:true, trackLinks:true, accurateTrackBounce:true })"></script>
		<noscript><div><img src="https://mc.yandex.ru/watch/28017147" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
		<!-- /Yandex.Metrika counter -->

		<script src="/assets/js/github.js" async></script>
		<!-- ?{{ site.time | date_to_xmlschema }} -->
	</body>
</html>
