<!doctype html>
<html ⚡ lang="ru">
	<head>
		{% include head/head.html %}
	</head>
	<body>
		{{ content | replace:'«','<span class="elka"></span><span class="l_elka">«</span>' | replace:'(','<span class="skobka"> </span><span class="l_skobka">(</span>' }}


		<amp-font
			 layout="nodisplay"
			 font-family="PT Sans"
			 timeout="3000"
			 on-load-add-class="sans-ready"></amp-font>

		<amp-font
			 layout="nodisplay"
			 font-family="PT Serif"
			 on-load-add-class="serif-ready"></amp-font>

		<amp-font
			  layout="nodisplay"
			  font-family="Fira Code"
			  on-load-add-class="mono-ready"></amp-font>

		<amp-pixel src="https://mc.yandex.ru/watch/28017147"></amp-pixel>
	</body>
</html>
