---
layout: default
---

{% include menu.html %}

<!-- Auto Size -->
<ins class="adsbygoogle horizontal"
	 style="display:block"
	 data-ad-client="ca-pub-6430039911615607"
	 data-ad-slot="4852376176"
	 data-ad-format="auto"></ins>

<div role="main" class="ta-l ff-serif wrap-medium-box wrap-center-box box-center">
	<header>
		<h1 class="wrap-small ta-c">{{ page.title }}</h1>

		{% if page.categories %}
			{% include pubdate.html %}
		{% endif %}
	</header>

	{{ content }}

	<!-- Right 300x250 #1 -->
	<!-- <ins class="adsbygoogle right300x250x1"
		 style="display:inline-block;width:300px;height:250px"
		 data-ad-client="ca-pub-6430039911615607"
		 data-ad-slot="1193585777"></ins> -->

	<!-- Right 300x250 #2 -->
	<!-- <ins class="adsbygoogle right300x250x2"
		 style="display:inline-block;width:300px;height:250px"
		 data-ad-client="ca-pub-6430039911615607"
		 data-ad-slot="5623785374"></ins> -->
</div>

{% if page.categories %}
	{% unless page.no_comments %}
		{% include comments.html %}
	{% endunless %}
{% endif %}

{% include footer.html %}
