---
layout: default
is_page: true
---

<amp-ad
	class="ads"
	width="728"
	height="90"
	layout="responsive"
	type="adsense"
	data-ad-client="ca-pub-6430039911615607"
	data-ad-slot="4852376176">
</amp-ad>

<h1>{% if page.show_title %}{{ page.show_title }}{% else %}{{ page.title }}{% endif %}</h1>

{% include pubdate.html %}
{{ content | replace:'«','<span class="elka"></span><span class="l_elka">«</span>' | replace:'(','<span class="skobka"> </span><span class="l_skobka">(</span>' }}

{% if layout.is_post %}
	<h4>Комментарии</h4>
	{% include media-comments.html %}
{% endif %}

{% include menu.html %}

{% unless page.is_blog %}
	{% include last-posts.html %}
{% endunless %}

{% include footer.html %}
