---
layout: page
is_post: true
---

<article itemscope itemtype="http://schema.org/Article">
	<meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ page.url }}">

	<blockquote class="no-ads">
		<img src="/assets/logo_adblock.png" alt="ad block">
		Здесь могла бы быть реклама.
		<br>
		Но она по каким-то причинам не загрузилась. Возможно ваш <i>блокировщик рекламы</i> заблокировал её 😔
		<br>
		Буду признателен вам, если вы <b>отключите</b> его. Это поможет мне оплатить хостинг, а может и на ☕️&nbsp;&nbsp;кофе хватит.
	</blockquote>

	{% include publisher.html %}
	{% include media-post-image.html %}

	{{ content }}

	{% include keywords.html %}
	{% include sharing.html %}
</article>

<br>
{% include next-prev.html %}
{% include features.html %}

<br>

<!-- Auto Size -->
<ins class="adsbygoogle horizontal"
	 style="display:block"
	 data-ad-client="ca-pub-6430039911615607"
	 data-ad-slot="4852376176"
	 data-ad-format="auto"></ins>
<br>

<!-- Right 300x600 -->
<ins class="adsbygoogle right300x600"
	 style="display:inline-block;width:300px;height:600px"
	 data-ad-client="ca-pub-6430039911615607"
	 data-ad-slot="7159394177"></ins>

<!-- Right 300x250 #1 -->
<ins class="adsbygoogle right300x250x1"
	 style="display:inline-block;width:300px;height:250px"
	 data-ad-client="ca-pub-6430039911615607"
	 data-ad-slot="1193585777"></ins>

<!-- Right 300x250 #2 -->
<ins class="adsbygoogle right300x250x2"
	 style="display:inline-block;width:300px;height:250px"
	 data-ad-client="ca-pub-6430039911615607"
	 data-ad-slot="5623785374"></ins>

<div style="clear:both"></div>
