.btn {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    padding: 14px 20px 13px;
    margin: 5px 15px;
    text-transform: uppercase;
    font-weight: bold;

    border: 2px solid $cl-green;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-transition: background .3s, color .3s;
    transition: background .3s, color .3s;

    &,
    &[href],
    &[href]:hover,
    &[href]:active {
        color: $cl-green;
    }

    &[href]:hover {
        color: $cl-white;
        background: $cl-green;
    }
}
