.footer {
    position: relative;
    min-height: 87px;
    box-shadow: 0 0 0 3px $cl-green;
    background: $cl-midnight;
    color: $cl-white;
    padding: 20px 0;

    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: $md-footer) {
        text-align: center;
    }

    &__copy {
        float: left;
        margin-top: 8px;
        line-height: 30px;

        a {
            color: $cl-white;
            border-bottom-style: dotted;
        }

        @media (max-width: $md-footer) {
            float: none;
        }
    }

    &__social {
        float: right;
        margin: 8px 0 0;
        padding: 0;
        line-height: 30px;
        list-style-type: none;

        li {
            display: inline;
            margin-left: 1em;
        }

        a {
            color: $cl-white;
        }

        @media (max-width: $md-footer) {
            float: none;
        }
    }
}
