.header-box {
    position: relative;
    min-height: 117px;
    box-shadow: 0 0 0 3px $cl-green;
    background: $cl-midnight;
    color: $cl-white;
    padding: 20px 0;

    @media (max-width: $md-header) {
        text-align: center;
    }
}

.header {
    float: left;

    &__link[href] {
        display: inline-block;
        vertical-align: top;
        border: 0;
        background: transparent;

        &,
        &:hover,
        &:focus,
        &:active {
            color: $cl-white;
        }

        &:active {
            position: relative;
            top: 2px;
        }
    }

    &__title,
    &__sub-title {
        margin: 0;
    }

    &__title {
        margin-left: -.04em;
        margin-top: 1px;
        font-size: 48px;
        line-height: 45px;
        font-weight: 500;
    }

    &__sub-title {
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
    }

    @media (max-width: $md-header) {
        float: none;

        .header__title {
            margin: 0;
            font-size: 35px;
            line-height: 30px;
        }

        .header__sub-title { font-size: 20px; }
    }
}
