.posts-list {
    padding: 0;
    margin: 0;

    li {
        min-height: 59px;
        display: block;
    }

    abbr {
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        color: #95A5A6;
        text-transform: uppercase;
        border: 0;
        cursor: default;
    }

    h3 {
        margin: 0;
        font-weight: normal;
    }

    a {
        display: block;
        /* color: #222; */
        padding: 15px 0;
        border: none;
    }
}
