$font-headers: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
$font-text: "PT Sans", "Helvetica Neue", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-code: Consolas, Courier, Monaco, monospace;

$cl-dark-green: #16a085;
$cl-green: #1abc9c;
$cl-orange: #f1c40f;

$cl-midnight: #2c3e50;
$cl-asphalt: #34495e;

$cl-cloud: #ecf0f1;
$cl-white: #fff;

$cl-silver: #BDC3C7;
$cl-concrete: #95a5a6;
$cl-asbestos: #7f8c8d;

$md-header: 820px;
$md-footer: 600px;

// ————————————————————————————————————

$color-text: #2C3E50;
$color-bg: #fff;

$color-2: #ECF0F1;

$color-1: #2980B9;
$color-3: #FFD34E;
$color-4: #DB9E36;
$color-5: #BD4932;
