/* Anchor links */
.short-link {
    border: 0;
    font-weight: normal;
    margin-left: -0.83em;

    @media (max-width: $md-footer) {
        margin-left: 0;
    }
}

.page-header__title .short-link {
    @media (max-width: $md-footer) {
        margin-left: -0.83em;
        visibility: hidden;
    }
}
