/* Arrows */
.post-nav { position: relative; clear: both; }
.post-nav a {
    position: relative;
    max-width: 48%;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.post-nav a.to-left:before {
    content: '« ';
    position: absolute;
    left: 0;
}
.post-nav a.to-right:after {
    position: absolute;
    right: 0;
    content: ' »';
}
