$font-text: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-styled: TimesNewRoman, Times New Roman, Times, Baskerville, Georgia, serif;
$font-code: Consolas, Courier, Monaco, monospace;


$color-text: #2C3E50;
$color-bg: #fff;

$color-2: #ECF0F1;

$color-1: #2980B9;
$color-3: #FFD34E;
$color-4: #DB9E36;
$color-5: #BD4932;
