* {
	margin: 0;
	padding: 0;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;	
	background:fixed #b0d6ff url('../img/back-gradient.jpg') 50% 50% no-repeat;
}
html, body {
	height:100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
	width: 610px;
	margin: 0 auto;
	min-height:1024px;
	height:auto !important;
	height:1024px;
}
.backimg {
	background:url('../img/back-img.png') 500% 0% no-repeat;
	width:500px;
	height:950px;
	position:absolute;
	left:50%;
	margin-left:-50px;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	padding:440px 0 290px 0;
	height: 205px;
	position:relative;
}
#header a.left, #header a.right {
	width:300px;
	height:205px;
	text-align:center;
	color:#fff;
	background:url('../img/block.png') 0% 0% no-repeat;
	text-decoration:none;
}
#header a.left:hover, #header a.right:hover {
	background-position:-300px 0;
}
#header a.left {
	float:left;
}
#header a.right {
	float:right;
}
#header .left h1, #header .right h1{
	font:bold 42px Arial, Tahoma, Verdana, sans-serif;
	margin-top:15px;
}
#header .left h2, #header .right h2{
	font:15px Arial, Tahoma, Verdana, sans-serif;
	margin-top:23px;
}
#header .hands {
	background:url('../img/hands.png') 0% 0% no-repeat;
	width:82px;
	height:114px;
	position:absolute;
	top:460px;
}
#header .hand-left {
	background-position:-82px 0;
	left:-25px;
}
#header .hand-right {
	right:-25px;
}
/* Middle
-----------------------------------------------------------------------------*/
#content {
}


/* Main
-----------------------------------------------------------------------------*/
#main {
	position:absolute;
	top:50%;
	left:50%;
	width:450px;
	height:480px;
	margin:-230px 0 0 -225px;
}
#main p {
	color:#45688e;
	font:15px Arial, Tahoma, Verdana, sans-serif;
	
}
#main p a, #main p a:visited, #main p a:active{
	color:#45688e;
	font-weight:bold;
}
.form {
	margin:50px 0 50px 80px;
}
