@font-face {
	font-family: 'MyFontFamily';
	src: url('myfont-webfont.eot?') format('eot'),
		 url('myfont-webfont.svg#svgFontName') format('svg'),
		 url('myfont-webfont.woff') format('woff'),
		 url('myfont-webfont.ttf')  format('truetype');
		 font-style: normal;
		 font-weight: normal;
}