

/*=================================
=            Variables            =
=================================*/

page-bg 			= #efefef
page-font-family 	= Arial, Tahoma, Verdana, sans-serif
page-text-color 	= #000
page-link 			= #08c
page-link-hover 	= darken(page-link, 15%)
page-link-visited 	= #0000aa
page-link-active 	= #dd0000